{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
{% endblock %}
{% load static %}

{% block content %}
<section>
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div id="hero-image-carousel" class="col-12">
                {% for offer in offers %}
                <div class="hero-image" style="background-image: url('{{ offer.image.url }}')">
                    <div class="overlay">&nbsp;</div>
                    <div class="row g-0">
                        <div class="col-12">
                            <div class="jumbotron jumbotron-fluid text-center">
                                <div class="container">
                                    <h1 class="display-1 text-white">{{offer.name}}</h1>
                                    <h3 class="text-white">{{offer.duration}} nights from £{{ offer.price|floatformat:"-2" }}
                                        per person</h3>
                                    <a href="{% url 'category_details' 'offers' offer.slug %}"
                                        class="btn btn-hero btn-lg">Explore Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="bg-grey">
        <div class="container p-4">
            <div class="row px-3">
                <div class="col-12 col-md-8 pt-3 pb-4">
                    <h1 class="text-center text-md-start section-heading text-blue">Popular Destinations</h1>
                </div>
                <div class="col-12 col-md-4">
                    <div id="arrows" class="col-12 text-md-end">
                    </div>
                </div>
                <div id="popular-destinations" class="row g-0">
                    {% for holiday in holidays %}
                    <div class="col-12 col-md-6 col-lg-4 p-3">
                        <div class="card destination-card">
                            <img class="card-img-top" src="{{holiday.image.url}}" alt="Card image cap">
                            <span class="badge bg-danger">£{{holiday.price|floatformat:"-2"}}</span>
                            <div class="card-body">
                                <a href="{% url 'destination_details' holiday.region.slug holiday.slug %}">
                                    <h5 class="card-title mb-1">{{holiday.name}}</h5>
                                </a>
                                <p class="small mb-1">{{holiday.country}}</p>
                                <div class="d-flex justify-content-between">
                                    <p class="d-block card-text small mb-2">
                                        <span class="rating">{{holiday.rating}}</span>
                                    </p>
                                    <p class="d-block card-text small mb-2"><i
                                            class="far fa-clock pe-1"></i>{{holiday.duration}}
                                        nights</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="container p-4">
        <div class="row features">
            <div class="col-12 col-md-6 col-lg-4 text-center pt-3">
                <h3 class="text-black">
                    <i class="far fa-credit-card d-block fa-lg text-pink"></i>Refund Guarantee
                </h3>
                <p>
                    If we have to cancel, we guarantee a speedy and smooth refund, so you can book with confidence.
                    T&Cs apply.
                </p>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-center pt-3">
                <h3 class="text-black">
                    <i class="fas fa-shield-alt d-block fa-lg text-pink"></i>ATOL Protected
                </h3>
                <p>
                    Every holiday package we sell is ATOL protected, which means that you’ll never be left stranded
                    or lose your money.
                </p>
            </div>
            <div class="col-12 col-lg-4 d-md-none d-lg-block text-center pt-3">
                <h3 class="text-black">
                    <i class="far fa-smile d-block fa-lg text-pink"></i>Excellent Reviews
                </h3>
                <p>
                    We’re really proud of our famously friendly service and we’ve got the trophies and reviews to
                    prove just how good it is.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script src="{% static 'js/ratings.js' %}"></script>
<script>
    $(document).ready(function () {
        $('#hero-image-carousel').slick({
            infinite: true,
            slidesToShow: 1,
            slidesToScroll: 1,
            lazyLoad: 'ondemand',
            autoplay: true,
            autoplaySpeed: 5000,
            dots: true,
            prevArrow: '<button type="button" class="btn shadow-0 slick-prev d-none d-md-block"><i class="fas fa-chevron-left"></i></button>',
            nextArrow: '<button type="button" class="btn shadow-0 slick-next d-none d-md-block"><i class="fas fa-chevron-right"></i></button>',
        })
        $('#popular-destinations').slick({
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 1,
            responsive: [
                {
                    breakpoint: 998,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 1,
                    }
                },
                {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                    }
                }],
            appendArrows: '#arrows',
            prevArrow: '<button type="button" class="btn shadow-0"><i class="fas fa-arrow-left fa-2x"></i></button>',
            nextArrow: '<button type="button" class="btn shadow-0"><i class="fas fa-arrow-right fa-2x"></i></button>',
        });
    });
</script>
{% endblock %}