<!-- Extends base template and loads static files -->
{% extends "base.html" %}
{% load static %}

<!-- Extra css block start -->
{% block extra_css %}
<!-- Import slick stylesheet. Code is from https://kenwheeler.github.io/slick/ -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
{% endblock %}
<!-- Extra css block end -->

<!-- Extra js block start -->
{% block extra_js %}
<!-- Import slick script. Code is from https://kenwheeler.github.io/slick/ -->
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
{% endblock %}
<!-- Extra css block end -->

<!-- Content block start -->
{% block content %}
<!-- Container start -->
<section class="container-fluid p-0">
    <!-- Hero image carousel start -->
    <div class="row g-0">
        <div id="hero-image-carousel" class="col-12">
            {% for offer in offers %}
            <div class="hero-image" style="background-image: url('{{ offer.image.url }}')">
                <div class="overlay">&nbsp;</div>
                <div class="row g-0">
                    <div class="col-12 jumbotron text-center">
                        <div class="container p-3">
                            <h1 class="display-1 text-white">{{ offer.name }}</h1>
                            <!-- Code for floatformat filter is from https://docs.djangoproject.com/en/3.2/ref/templates/builtins/#floatformat -->
                            <h4 class="text-white">{{ offer.duration }} Nights from
                                £{{ offer.price|floatformat:"-2" }}
                                per person</h4>
                            <a href="{% url 'category_details' 'offers' offer.slug %}"
                                class="btn btn-primary btn-lg">Explore Now</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Hero image carousel end -->
    <!-- Popular holidays container start -->
    <div class="bg-light">
        <div class="container p-4">
            <div class="row g-0">
                <!-- Heading start -->
                <div class="col-12 col-sm-8">
                    <h1 class="text-center text-md-start section-heading">Popular Holidays</h1>
                </div>
                <!-- Heading end -->
                <!-- Slider arrows start -->
                <div class="col-sm-4 d-none d-md-block">
                    <div id="arrows" class="col-12 text-end">
                    </div>
                </div>
                <!-- Slider arrows start -->
                <!-- Popular holidays cards start. Code is from https://getbootstrap.com/docs/5.0/components/card/ and https://getbootstrap.com/docs/5.0/components/badge/ -->
                <div id="popular-holidays" class="mt-3 mb-2">
                    {% for holiday in holidays %}
                    <div class="card holiday-card d-flex">
                        <img class="card-img-top" src="{{ holiday.image.url }}" alt="Image of {{ holiday.name }}">
                        <!-- Code for floatformat filter is from https://docs.djangoproject.com/en/3.2/ref/templates/builtins/#floatformat -->
                        <span class="badge bg-secondary">£{{ holiday.price|floatformat:"-2" }}</span>
                        <div class="card-body">
                            <a href="{% url 'destination_details' holiday.region.slug holiday.slug %}">
                                <h5 class="card-title mb-1">{{ holiday.name }}</h5>
                            </a>
                            <p class="small mb-1">{{ holiday.country }}</p>
                            <div class="d-flex justify-content-between">
                                <p class="d-block card-text small mb-2">
                                    <span class="rating">{{ holiday.rating }}</span>
                                    <span class="sr-only">{{ holiday.rating }} stars</span>
                                </p>
                                <p class="d-block card-text small mb-2">
                                    <i class="far fa-clock" aria-label="clock"></i>
                                    <span>{{ holiday.duration }} Nights</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!-- Popular holidays cards end -->
            </div>
        </div>
    </div>
    <!-- Popular holidays container end -->
    <!-- Features container start -->
    <div class="container p-4">
        <div class="row features">
            <!-- Feature 1 start -->
            <div class="col-12 col-md-6 col-lg-4 text-center pt-3">
                <h3 class="text-black">
                    <i class="far fa-credit-card d-block fa-lg text-secondary" aria-hidden="true"></i>
                    <span>Refund Guarantee</span>
                </h3>
                <p>
                    If we have to cancel, we guarantee a speedy and smooth refund, so you can book with confidence.
                    T&Cs apply.
                </p>
            </div>
            <!-- Feature 1 end -->
            <!-- Feature 2 start -->
            <div class="col-12 col-md-6 col-lg-4 text-center pt-3">
                <h3 class="text-black">
                    <i class="fas fa-shield-alt d-block fa-lg text-secondary" aria-hidden="true"></i>
                    <span>ATOL Protected</span>
                </h3>
                <p>
                    Every holiday package we sell is ATOL protected, which means that you’ll never be left stranded
                    or lose your money.
                </p>
            </div>
            <!-- Feature 2 end -->
            <!-- Feature 3 start -->
            <div class="col-12 col-lg-4 d-md-none d-lg-block text-center pt-3">
                <h3 class="text-black">
                    <i class="far fa-smile d-block fa-lg text-secondary" aria-hidden="true"></i>
                    <span>Excellent Reviews</span>
                </h3>
                <p>
                    We’re really proud of our famously friendly service and we’ve got the trophies and reviews to
                    prove just how good it is.
                </p>
            </div>
            <!-- Feature 3 end -->
        </div>
    </div>
    <!-- Features container end -->
</section>
<!-- Container end -->
{% endblock %}
<!-- Content block end -->

<!-- Postloadjs block start -->
{% block postloadjs %}
{{ block.super }}
<!-- Import ratings.js script -->
<script src="{% static 'js/ratings.js' %}"></script>
<script>
    // Configures the hero image carousel. Code is from https://kenwheeler.github.io/slick/
    $('#hero-image-carousel').slick({
        infinite: true,
        slidesToShow: 1,
        slidesToScroll: 1,
        lazyLoad: 'ondemand',
        autoplay: true,
        autoplaySpeed: 5000,
        dots: true,
        prevArrow: '<button type="button" class="btn shadow-0 slick-prev d-none d-md-block" aria-label="previous"><i class="fas fa-chevron-left" aria-hidden="true"></i></button>',
        nextArrow: '<button type="button" class="btn shadow-0 slick-next d-none d-md-block" aria-label="next"><i class="fas fa-chevron-right" aria-hidden="true"></i></button>',
    });

    // Configures the popular holidays slider. Code is from https://kenwheeler.github.io/slick/
    $('#popular-holidays').slick({
        infinite: true,
        slidesToShow: 3,
        slidesToScroll: 1,
        responsive: [{
                breakpoint: 998,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 1,
                }
            },
            {
                breakpoint: 576,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1,
                }
            }
        ],
        appendArrows: '#arrows',
        prevArrow: `<button type="button" class="btn shadow-0 ps-0 pe-3" aria-label="previous">
            <i class="fas fa-arrow-left fa-2x" aria-hidden="true"></i></button>`,
        nextArrow: `<button type="button" class="btn shadow-0 pe-0 ps-3" aria-label="next">
            <i class="fas fa-arrow-right fa-2x" ar-a-hidden="true"></i></button>`,
    });
</script>
{% endblock %}
<!-- Postloadjs block end -->