{% extends "base.html" %}
{% load static %}
{% load tz %}
{% load booking_tools %}

{% block content %}
<section class="container h-100 p-4">
    <div class="row g-0">
        <div class="col-12 mb-4">
            <h1 class="section-heading text-center mb-0">Your Booking</h1>
        </div>
    </div>
    {% if booking %}
    <div class="row-g-0">
        <div class="d-none d-md-block col-md px-lg-3">
            <div class="row g-0">
                <div class="col-12 table-responsive mb-3">
                    <h3 class="section-subheading">Holiday</h3>
                    <table class="table table-sm align-middle mb-3">
                        <thead>
                            <tr>
                                <th scope="col" class="p-2">Details</th>
                                <th scope="col" class="p-2"></th>
                                <th scope="col" class="p-2 ps-4">Guests</th>
                                <th scope="col" class="p-2">Price Per Person</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="w-25 p-2">
                                    <img class="img-fluid" src="{{booking.package.image.url}}" alt="Image of {{ booking.package.name }}">
                                </td>
                                <td class="p-2">
                                    <ul class="list-unstyled">
                                        <li><strong>{{ booking.package.name }}</strong></li>
                                        <li class="mb-0">{{ booking.departure_date }}</li>
                                        <li class="mb-0">{{ booking.package.duration}} nights</li>
                                        <li class="mb-0">{{ booking.package.catering }}</li>
                                    </ul>
                                </td>
                                <td class="w-25 p-2 ps-4">
                                    <form class="guests-form">
                                        {% csrf_token %}
                                        <div class="input-group justify-content-start">
                                            <input
                                                class="form-control form-control-sm form-control-guests text-center rounded-0"
                                                type="number" name="guests" value="{{ booking.guests }}" />
                                            <div class="btn-group-vertical rounded-0 shadow-none">
                                                <button class="btn plus rounded-0 p-2 py-0" type="button">
                                                    <span>
                                                        <i class="fas fa-chevron-up fa-sm"></i>
                                                    </span>
                                                </button>
                                                <button class="btn minus rounded-0 p-2 py-0" type="button">
                                                    <span>
                                                        <i class="fas fa-chevron-down fa-sm"></i>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </td>
                                <td class="w-25 p-2">£{{ booking.package.price|floatformat:"-2" }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                {% if booking.package.extras.all %}
                <div class="col-12 table-responsive">
                    <h3 class="section-subheading">Extras</h3>
                    <table class="table table-sm align-middle">
                        <thead>
                            <tr>
                                <th scope="col" class="p-2">Details</th>
                                <th scope="col" class="p-2"></th>
                                <th scope="col" class="p-2 ps-4">Quantity</th>
                                <th scope="col" class="p-2">Price</th>
                                <th scope="col" class="p-2"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for extra in booking.package.extras.all %}
                            <tr>
                                <td class="w-25 p-2">
                                    <img class="img-fluid" src="{{ extra.image.url }}" alt="Image of {{extra.name}}">
                                </td>
                                <td class="w-25 p-2"><strong>{{ extra.name }}</strong></td>
                                <td class="w-25 p-2 ps-4">
                                    <form class="quantity-form">
                                        {% csrf_token %}
                                        <div class="input-group justify-content-start">
                                            <input
                                                class="form-control form-control-sm form-control-guests text-center rounded-0"
                                                type="number" name="quantity" value="{{ booking.booking_extras.all|extra_quantity:extra.id }}"
                                                data-extra="{{ extra.id }}" />
                                            <div class="btn-group-vertical rounded-0 shadow-none">
                                                <button class="btn plus rounded-0 p-2 py-0" type="button">
                                                    <span>
                                                        <i class="fas fa-chevron-up fa-sm"></i>
                                                    </span>
                                                </button>
                                                <button class="btn minus rounded-0 p-2 py-0" type="button">
                                                    <span>
                                                        <i class="fas fa-chevron-down fa-sm"></i>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </td>
                                <td class="p-2">£{{ extra.price|floatformat:"-2" }}</td>
                                <td class="p-2">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="{{ extra.id }}"{% if extra.id in selected_extras %}checked{% endif %}>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="d-md-none col px-3">
            <div class="row g-0">
                <div class="col-12 table-responsive mb-3">
                    <h3 class="section-subheading">Holiday</h3>
                    <hr class="my-0">
                    <table class="table table-sm mb-3">
                        <tr>
                            <td class="w-25 py-3">
                                <img class="img-fluid mt-1" src="{{ booking.package.image.url }}" alt="Image of {{ booking.package.name }}">
                            </td>
                            <td class="pt-3 pb-4">
                                <ul class="list-unstyled my-0">
                                    <li class="mb-3"><strong>{{ booking.package.name }}</strong></li>
                                    <li class="mb-0">{{ booking.departure_date }}</li>
                                    <li class="mb-0">{{ booking.package.duration}} nights</li>
                                    <li class="mb-3">{{ booking.package.catering }}</li>
                                    <li class="mb-3">
                                        £{{ booking.package.price|floatformat:"-2" }}
                                    </li>
                                    <li>
                                        <form class="d-inline-block guests-form">
                                            {% csrf_token %}
                                            <div class="input-group justify-content-start">
                                                <input
                                                    class="form-control form-control-sm form-control-guests text-center rounded-0"
                                                    type="number" name="guests" value="{{ booking.booking_package.guests }}" />
                                                <div class="btn-group-vertical rounded-0 shadow-none">
                                                    <button class="btn plus rounded-0 p-2 py-0" type="button">
                                                        <span>
                                                            <i class="fas fa-chevron-up fa-sm"></i>
                                                        </span>
                                                    </button>
                                                    <button class="btn minus rounded-0 p-2 py-0" type="button">
                                                        <span>
                                                            <i class="fas fa-chevron-down fa-sm"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
                {% if booking.package.extras.all %}
                <div class="col-12 mb-3">
                    <h3 class="section-subheading">Extras</h3>
                    <hr class="my-0">
                    <table class="table table-sm mb-3">
                        {% for extra in booking.package.extras.all %}
                        <tr>
                            <td class="w-25 pt-3 pb-0" rowspan="2">
                                <img class="img-fluid mt-1" src="{{extra.image.url}}" alt="Image of {{extra.name}}">
                            </td>
                            <td colspan="2" class="border-0 pt-3 pb-0">
                                <ul class="list-unstyled py-0">
                                    <li class="mb-3"><strong>{{ extra.name }}</strong></li>
                                    <li class="mb-3">£{{ extra.price|floatformat:"-2" }}</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="pt-0 pb-4">
                                <form class="d-inline-block quantity-form">
                                    {% csrf_token %}
                                    <div class="input-group">
                                        <input
                                            class="form-control form-control-sm form-control-quantity text-center rounded-0"
                                            type="number" name="quantity" value="{{ booking.booking_extras.all|extra_quantity:extra.id }}"
                                            data-extra="{{ extra.id }}" />
                                        <div class="btn-group-vertical rounded-0 shadow-none">
                                            <button class="btn plus rounded-0 p-2 py-0" type="button">
                                                <span>
                                                    <i class="fas fa-chevron-up fa-sm"></i>
                                                </span>
                                            </button>
                                            <button class="btn minus rounded-0 p-2 py-0" type="button"">
                                                <span>
                                                    <i class=" fas fa-chevron-down fa-sm"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </td>
                            <td class="text-center">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="{{ extra.id }}"{% if extra.id in seleted_extras %}checked{% endif %}>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-4 mt-2">
            <div class="px-lg-3">
                <h3 class="section-subheading d-flex justify-content-between align-items-center mb-3">Booking Summary</h3>
                <ul class="list-group mb-3">
                    {% with booking.outbound_flight as outbound_flight %}
                    <li class="list-group-item p-3">
                        <div>
                            <h6>{{booking.departure_date}} ({{outbound_flight.flight_number}})</h6>
                            <div class="row g-0">
                                <div class="col">
                                    <small>{{outbound_flight.origin}}</small>
                                </div>
                                <div class="col text-center my-auto">
                                    <i class="fas fa-plane"></i>
                                </div>
                                <div class="col text-end">
                                    <small>{{outbound_flight.destination}}</small>
                                </div>
                            </div>
                            <div class="row g-0">
                                <div class="col-4">
                                    <small>{{outbound_flight.departure_time|time:'H:i'}}</small>
                                </div>
                                <div class="col-4 text-center">
                                    <small>{{ outbound_flight.duration|duration }}</small>
                                </div>
                                <div class="col-4 text-end">
                                    <small>{{outbound_flight.arrival_time|timezone:time_zone|time:'H:i'}}</small>
                                    <br>
                                    {% next_day flight=outbound_flight time_zone=time_zone direction='outbound' as next_day %}
                                    {% if next_day %}
                                        <small>{{ next_day }}</small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endwith %}
                    {% with booking.return_flight as return_flight %}
                    <li class="list-group-item p-3">
                        <h6>{{ booking.return_date }} ({{return_flight.flight_number}})</h6>
                        <div class="row g-0">
                            <div class="col">
                                <small>{{return_flight.origin}}</small>
                            </div>
                            <div class="col text-center my-auto">
                                <i class="fas fa-plane"></i>
                            </div>
                            <div class="col text-end">
                                <small>{{return_flight.destination}}</small>
                            </div>
                        </div>
                        <div class="row g-0">
                            <div class="col-4">
                                <small>{{return_flight.departure_time|timezone:time_zone|time:'H:i'}}</small>
                            </div>
                            <div class="col-4 text-center">
                                <small>{{ return_flight.duration|duration }}</small>
                            </div>
                            <div class="col-4 text-end">
                                <small>{{return_flight.arrival_time|time:'H:i'}}</small>
                                <br>
                                {% next_day flight=return_flight time_zone=time_zone direction='return' as next_day %}
                                {% if next_day %}
                                    <small>{{ next_day }}</small>
                                {% endif %}
                            </div>
                        </div>
                    </li>
                    {% endwith %}
                    {% if booking.subtotal != booking.grand_total %}
                    <li id="subtotal" class="list-group-item d-flex justify-content-between">
                        <span class="my-0">Base Price</span>
                        <span>£{{ booking.subtotal|floatformat:"-2" }}</span>
                    </li>
                    {% endif %}
                    {% if booking.extras_total %}
                    <li id="extras" class="list-group-item d-flex justify-content-between">
                        <span class="my-0">Options and Extras</span>
                        <span>£{{ booking.extras_total|floatformat:"-2" }}</span>
                    </li>
                    {% endif %}
                    <li id="transfers" class="list-group-item d-flex justify-content-between">
                        <span class="my-0">Transfers</span>
                        <span class="my-0">{% if holiday.transfers_included == True %}Included{% else %}
                            Not Included{% endif %}</span>
                    </li>
                    {% if booking.discount %}
                    <li id="discount" class="list-group-item d-flex justify-content-between">
                        <div class="text-success">
                            <h6 class="my-0">Promo code</h6>
                            <small class="text-uppercase">{{booking.coupon}}</small>
                        </div>
                        <span class="text-success">-£{{booking.discount|floatformat:"-2"}}</span>
                    </li>
                    {% endif %}
                    <li id="total" class="list-group-item d-flex justify-content-between">
                        <span>Total</span>
                        <strong>£{{ booking.grand_total|floatformat:"-2" }}</strong>
                    </li>
                </ul>
                <form class="coupon-form">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Promo code" name="coupon">
                        <button class="btn btn-grey rounded-0 rounded-end shadow-none" type="submit">Apply</button>
                    </div>
                </form>
                <a class="btn btn-primary shadow-none w-100 mb-3" href="{% url 'passengers' %}">Continue to Passengers</a>
            </div>
        </div>
    </div>
    {% else %}
    <div class="row g-0">
        <div class="col-12 text-center">
            <hr class="mb-4 mt-0">
            <p class="lead mb-4">You have not added a booking.</p>
            <a href="{% url 'offers' %}" class="btn btn-primary">
                <i class="fas fa-chevron-left me-2"></i>
                <span class="text-uppercase">View our latest offers</span>
            </a>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script src="{% static 'js/booking.js' %}"></script>
{% endblock %}