{% extends "base.html" %}
{% load static %}
{% load booking_tools %}

{% block extra_css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
{% endblock %}

{% block content %}
<section class="container p-4">
    <div class="row">
        <div class="col-12 mb-4">
            <h1 class="section-heading text-center mb-0">Passenger Details</h1>
        </div>
        <div class="col-12 col-lg-8 mx-auto">
            <form action="{% url 'passengers' %}" method="POST" >
                {% csrf_token %}
                {% for form in formset %}
                {% if forloop.counter == 1 %}
                <fieldset>
                    <legend class="small text-black mb-3">Lead Passenger</legend>
                    {{ form.full_name | as_crispy_field }}
                    {{ form.date_of_birth | as_crispy_field }}
                    {{ form.passport_number | as_crispy_field }}
                </fieldset>
                {% else %}
                <fieldset>
                    <legend class="small text-black mb-3">Passenger {{i}}</legend>
                    {{ form.full_name | as_crispy_field }}
                    {{ form.date_of_birth | as_crispy_field }}
                    {{ form.passport_number | as_crispy_field }}
                </fieldset>
                {% endif %}
                {% endfor %}
                <fieldset class="my-3 text-center">
                    <button class="btn btn-primary">Next</button>
                </fieldset>
            </form>
        </div>
    </div>
</section>

<script>
    // https://formden.com/blog/date-picker
    $(document).ready(function(){
      var date_input=$('.dateinput');
      var options={
        format: 'dd/mm/yyyy',
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);
    })
</script>
{% endblock %}