{% extends "base.html" %}
{% load static %}
{% block content %}

<section class="container p-4">
    <div class="row g-0">
        <div class="col">
            <h1 class="mb-4 section-heading text-center">Bookings</h1>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-12 col-lg-10 mx-auto mx-auto">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="table-info">
                        <tr>
                            <th>Booking Number</th>
                            <th>Departure Date</th>
                            <th>Holiday</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for booking in bookings %}
                        <tr>
                            <td>
                                <a href="{% url 'booking_details' booking.booking_number %}"
                                    title="{{ booking.booking_number }}">
                                    {{ booking.booking_number|truncatechars:9 }}
                                </a>
                            </td>
                            <td>{{ booking.departure_date }}</td>
                            <td>
                                <ul class="list-unstyled">
                                    <li>
                                        {{booking.package.duration}} Nights in {{ booking.package.name }}
                                    </li>
                                </ul>
                            </td>
                            <td>£{{ booking.grand_total|floatformat:"-2" }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}