<!-- Extends base template and loads static files -->
{% extends "base.html" %}
{% load static %}

<!-- Content block start -->
{% block content %}
<!-- Container start -->
<section class="container p-4">
    <div class="row g-0">
        <!-- Heading start -->
        <div class="col-12">
            <h1 class="mb-4 section-heading text-center">My Profile</h1>
        </div>
        <!-- Heading end -->
        <!-- Form start -->
        <div class="col-12 col-md-10 col-lg-8 mx-auto">
            <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
                {% csrf_token %}
                <legend class="section-subheading">Personal Information</legend>
                {{ form.email_address | as_crispy_field }}
                {{ form.phone_number | as_crispy_field }}
                <legend class="section-subheading">Address</legend>
                {{ form.address | as_crispy_field }}
                {{ form.street_address1 | as_crispy_field }}
                {{ form.street_address2 | as_crispy_field }}
                {{ form.town_or_city | as_crispy_field }}
                {{ form.county | as_crispy_field }}
                {{ form.country | as_crispy_field }}
                {{ form.postcode | as_crispy_field }}
                <div class="text-center mt-4">
                    <button class="btn btn-primary shadow-none">Update Information</button>
                </div>
            </form>
        </div>
        <!-- Form end -->
    </div>
</section>
<!-- Content container end -->
{% endblock %}
<!-- Content block end -->

<!-- Postloadjs block start -->
{% block postloadjs %}
{{ block.super }}
<!-- Import autocomplete script. https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete-addressform -->
<script async
    src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initAutocomplete&libraries=places&v=weekly">
</script>
<!-- Import autocomplete.js script -->
<script src="{% static 'js/autocomplete.js' %}"></script>
<script>
    /* Sets the colour of the country field and changes it when the country field is changed
    depending on whether a valid option or the blank label has been selected */

    let countrySelected = $("#id_country").val();

    if (!countrySelected) {
        $("#id_country").css("color", "#a9a9a9");
    }

    $('#id_country').change(function () {
        if (!countrySelected) {
            $(this).css('color', '#a9a9a9');
        } else {
            $(this).css('color', '#4a4a4a');
        }
    });
</script>
{% endblock %}
<!-- Postloadjs block start -->