{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="section-heading text-center my-4">Checkout</h1>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-12 col-lg-6">
            <a href="{% url 'booking' %}"" class="back-btn"><i class="fas fa-arrow-left"></i></a>
            <div class="card shadow-none">
                <div class="text-center">
                    <h6 class="mb-2 text-muted">{{ holiday.duration }} days in {{ holiday.name }}</h5>
                    <h3 class="mb-4">£{{ total }}</h3>
                    <img src="{{ holiday.image.url }}" class="card-img-bottom rounded w-75" alt="...">
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 mt-4 mt-lg-0">
            <p class="text-muted ms-3 ps-2">Please fill out the form below to complete your booking</p>
            <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                {% csrf_token %}
                <fieldset class="rounded px-3 mb-4">
                    <legend class="fieldset-label small text-black px-2 w-auto">Personal Details</legend>
                    {{ booking_form.full_name | as_crispy_field }}
                    {{ booking_form.email | as_crispy_field }}
                    {{ booking_form.phone_number | as_crispy_field }}
                </fieldset>
                <fieldset class="rounded px-3 mb-4">
                    <legend class="fieldset-label small text-black px-2 w-auto">Billing Address</legend>
                    {{ booking_form.street_address1 | as_crispy_field }}
                    {{ booking_form.street_address2 | as_crispy_field }}
                    {{ booking_form.town_or_city | as_crispy_field }}
                    {{ booking_form.county | as_crispy_field }}
                    {{ booking_form.country | as_crispy_field }}
                    {{ booking_form.postcode | as_crispy_field }}
                    <div class="form-check form-check-inline float-right mr-0">
                        {% if user.is_authenticated %}
                        <label class="form-check-label" for="id-save-info">Save my information to my
                            profile</label>
                        <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info"
                            checked>
                        {% else %}
                        <label class="form-check-label" for="id-save-info">
                            <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or
                            <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
                        </label>
                        {% endif %}
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

{% endblock %}