/* Social account icons start. Code is from https://bbbootstrap.com/snippets/login-form-footer-and-social-media-icons-55203607 */

.line {
    height: 1px;
    width: 45%;
    background-color: #E0E0E0;
    margin-top: 10px;
}

.or {
    width: 10%;
    font-weight: bold
}

.facebook i {
    background-color: #3b5998;
    color: #fff;
    line-height: 35px;
    border-radius: 50%;
    font-size: 18px;
    width: 35px;
    height: 35px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}

.google i {
    background-color: #DB4437;
    color: #fff;
    line-height: 35px;
    border-radius: 50%;
    font-size: 18px;
    width: 35px;
    height: 35px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}

/* Social account icons end */

/* Form start */

.account label {
    margin-bottom: 0.5rem;
}

.account input {
    margin-bottom: 1rem;
}

/* Form end */

/* Sign up image start */

.sign-up-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 40% 0%;
    height: 100%;
}

/* Sign up image end */
