@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

body {
    font-family: 'PT Sans', sans-serif;
}

.small {
    font-size: 0.8rem;
    color: #fff;
}

.bg-primary {
    background-color: #006994 !important;
}

.bg-danger {
    background-color: #d13574 !important;
}

.btn-primary {
    background-color: #006994 !important;
}

.btn-newsletter {
    background-color: #d13574;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-newsletter i {
    color: #fff;
}

.section-heading {
    font-weight: bold;
    color: #d13574;
}

.booking-form {
    font-size: 1.5rem;
}

.navbar i {
    color: #006994;
}

.navbar {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
}

.navbar-toggler i {
    color: #000063;
}

/* Color codes are from https://www.slowdown.travel/ */

.navbar-light .navbar-nav .nav-link {
    color: #006994;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: #70c8df;
    outline: none;
}

.nav-item {
    padding: 0.5rem 0;
    margin: 0 1rem;
}

.hero-image {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 60vh;
    background-size: cover;
    background-position: center center;
}

.holiday-hero-image {
    height: calc(100vh - 73px);
}

.hero-image-top {
    background-position: center top;
}

.hero-image-bottom {
    background-position: 50% 90%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero-image .row {
    z-index: 1;
}

.jumbotron {
    background-color: transparent;
}

.jumbotron .display-4 {
    color: white;
    font-weight: bold;
}

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #fff;
}

.form-select:focus {
    border-color: #bdbdbd;
}

/* Code for image hover effects is from .destination-card img:hover */

.destination-card {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.destination-card img {
    max-height: auto;
    border-radius: 10px 10px 0 0;
    transition: ease 0.5s;
}

.destination-card img:hover, 
.destination-card img:active {
    transform: scale(1.2);
}

.destination-card .badge {
    position: absolute;
    top: 10px;
    left: 10px;
    width: auto;
    color: #fff;
}

.fa-star, .fa-star-half-alt {
    color: gold;
}

.destination-card .card-body {
    background-color: #fff;
    z-index: 1;
}

.pagination .active .page-link {
    background-color: #d13574;
}

.sydney {
    background-position: 50% 30%;
}

.algarve {
    background-position: 50% 40%;
} 

.toronto {
    background-position: 50% 60%;
}

.auckland, .singapore {
    background-position: 50% 70%;
}

.whitsundays {
    background-position: 50% 80%;
}

.new-york {
    background-position: center bottom;
}

.nav-tabs .nav-link {
    font-weight: bold;
    border-bottom-width: 4px;
}

.nav-tabs .nav-link.active {
    border-color: #d13574;
    color: #d13574;
}

.nav-tabs .nav-link:hover {
    background-color: transparent;
    border-color: #d13574;
    color: #d13574;
}

.accordion-button:not(.collapsed) {
    color: #4f4f4f;
    background-color: transparent;
}

.guests {
    max-width: 200px;
}

/* Chrome, Safari, Edge, Opera hide number input arrow butttons. Code is from https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox hide number input arrow butttons. Code is from https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
input[type=number] {
  -moz-appearance: textfield;
}

#plus, #minus {
    background-color: #e0e0e0;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #70c8df;
}

.footer-headings {
    font-weight: 600;
    color: #fff;
}

.footer-divider hr {
    border-top-color: rgba(255, 255, 255, 0.5);
}

@media (min-width: 576px) {
    .destination-card img {
        max-height: 150px;
    }
}


@media (min-width: 992px) {
    .nav-item {
        padding: 0 0.5rem;
        margin: 0;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 1.5rem 0;
    }

    .navbar-nav .border-bottom {
        border-bottom: 0 !important;
    }

    .guests {
        max-width: 100%;
    }
}

