@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

body {
    font-family: 'PT Sans', sans-serif;
}

strong {
    font-weight: bold;
}

section {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 73px);
}

.small {
    font-size: 0.8rem;
    color: #fff;
}

.bg-primary {
    background-color: #006994 !important;
}

.bg-secondary {
    background-color: #d13574 !important;
}

.bg-danger {
    background-color: #d13574 !important;
}

.bg-grey {
    background-color: #f7fcfc;
}

.btn-primary {
    background-color: #006994 !important;
}

.btn-secondary, .btn-secondary:hover {
    background-color: #d13574;
}

.btn-info, .btn-info:hover {
    background-color: #49c5b6;
}

.btn-outline-primary {
    color: #006994 !important;
    border-color: #006994 !important;
}

.btn-grey {
    background: #c8c8c8;
}

.btn-newsletter {
    background-color: #d13574;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-newsletter i {
    color: #fff;
}

.section-heading {
    font-weight: bold;
    color: #d13574;
}

.text-blue {
    color: #006994;
}

.text-pink {
    color: #d13574;
}

.text-black {
    color: #000;
}

.section-subheading {
    font-weight: bold;
    color: #70c8df;
}

.booking-form {
    font-size: 1.5rem;
}

.booking-heading {
    font-weight: bold;
}

.navbar i {
    color: #006994;
}

.navbar {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
}

.navbar-toggler i {
    color: #000063;
}

/* Color codes are from https://www.slowdown.travel/ */

.navbar-light .navbar-nav .nav-link {
    color: #006994;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: #70c8df;
    outline: none;
}

.nav-item {
    padding: 0.5rem 0;
    margin: 0 1rem;
}

/* Hero Image Start */

.hero-image-top {
    background-position: center top;
}

.hero-image-bottom {
    background-position: 50% 90%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero-image .row {
    z-index: 1;
}

.jumbotron {
    background-color: transparent;
}

.jumbotron .display-1 {
    font-weight: bold;
    font-family: 'Nothing You Could Do', sans-serif;
}

.jumbotron .display-2 {
    font-weight: bold;
    font-family: 'Nothing You Could Do', sans-serif;
}

.jumbotron h3 {
    margin: 30px 0 50px 0;
}


/* Hero Image End */

/* Hero Image Carousel Start */

#hero-image-carousel .slick-slide {
    display: flex;
    height: calc(100vh - 105px);
}

#hero-image-carousel .slick-prev {
    left: 25px;
}

#hero-image-carousel .slick-next {
    right: 25px;
}

#hero-image-carousel .slick-prev,
#hero-image-carousel .slick-next {
    position: absolute;
    top: 50%;
    padding: 0;
    width: 40px;
    height: 40px;
    font-size: 24px;
    line-height: 24px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    transform: translate(0, -50%);
    cursor: pointer;
    z-index: 2;
}

.slick-dots {
    position: absolute;
    bottom: 10px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #fff;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.hero-image {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 60vh;
    background-size: cover;
    background-position: center center;
}

/* Hero Image Carousel End */ 

/* Block Divider Start */

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #fff;
}

.block-divider-blue {
    background-color: #006994;
}

/* Block Divider End */

/* Features Start */

.features p {
    line-height: 30px;
}

.features h3 {
    margin-bottom: 10px;
}

.features i {
    margin-bottom: 40px;
}

/* Features End */

/* Form Start */

.form-control::placeholder {
    color: #a9a9a9;
  }

.form-control {
    border-color: #d3d3d3;
    color: #4a4a4a;
}

.form-control:focus {
    box-shadow: none;
    border-color: #d3d3d3;
    color: #4a4a4a;
}

select:first-child {
  color: #a9a9a9;
}

select:not(:first-child) {
  color: #4a4a4a;
}

/* Chrome, Safari, Edge, Opera hide number input arrow butttons. Code is from https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}

/* Form End */

/* Destination Card Start. Code for image hover effects is from .destination-card img:hover */

.destination-card {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    height: 100%;
}

.destination-card img {
    border-radius: 10px 10px 0 0;
    transition: ease 0.5s;
    object-fit: cover;
    height: 12rem;
}

.destination-card img:hover, 
.destination-card img:active {
    transform: scale(1.2);
}

.destination-card .badge {
    position: absolute;
    top: 20px;
    left: 20px;
    width: auto;
    color: #fff;
    font-size: 16px;
    border: 2px solid #d13574;
    border-radius: 25px;
}

.destination-card .card-body {
    background-color: #fff;
    z-index: 1;
}

.destination-card a {
    color: #000;
}

.destination-card a:hover {
    color: #d13574;
}

.destination-card .small {
    color: #7A838B;
}

.fa-star, .fa-star-half-alt {
    color: gold;
}

/* Destination Card End */

.pagination .active .page-link {
    background-color: #d13574;
}

.sydney {
    background-position: 50% 30%;
}

.algarve {
    background-position: 50% 40%;
} 

.toronto {
    background-position: 50% 60%;
}

.auckland, .singapore {
    background-position: 50% 70%;
}

.whitsundays {
    background-position: 50% 80%;
}

.new-york {
    background-position: center bottom;
}

.nav-tabs .nav-link {
    font-weight: bold;
    border-bottom-width: 4px;
}

.nav-tabs .nav-link.active {
    border-color: #d13574;
    color: #d13574;
}

.nav-tabs .nav-link:hover {
    background-color: transparent;
    border-color: #d13574;
    color: #d13574;
}

.itinerary-item:after {
    content: '';
    display: block;
    position: absolute;
    width: 2px;
    background-color: #70c8df;
    top: 0;
    left: 0;
    height: 100%;
}

.itinerary-item:first-of-type::after {
    top: 20px;
}

.itinerary-item:last-of-type:after {
    height: 20px; 
}

.itinerary-item:before {
    height: 30px;
    width: 30px;
    margin-top: 15px;
    display: block;
    position: absolute;
    left: -14px;
    border: 2px solid #70c8df;
    border-radius: 50%;
    content: '';
    background-color: #fff;
    z-index: 1;
}

.guests {
    max-width: 200px;
}

.plus, .minus {
    background-color: #c8c8c8;
}

.table th {
    font-weight: bold;
}

.table .no-border {
    border: 1px solid Transparent!important;
}

.input-group .form-control {
    height: auto;
    min-height: auto;
}
.input-group .form-control-guests, 
.input-group .form-control-quantity {
    height: 35px;
    min-height: 35px;
    flex: none;
    min-width: 35px;
}

.btn-group-vertical {
    border: 1px solid #bdbdbd;
    height: 35px;
    min-height: 35px;
}

.input-group .invalid-feedback {
    position: inherit;
}

.back-btn i {
    position: absolute;
    z-index: 1;
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #006994;
}

label .asteriskField {
    display: none;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
  
.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}
  
.delete-check .form-check-input {
    border-color: #dc3545;
}
  
.delete-check .form-check-input:checked {
    background-color: #dc3545;
    border-color: #dc3545;
}

#airports-list {
    height: 150px;
    background-color: #fff;
    top: 75px;
    left: 0;
    overflow-y: scroll;
    z-index: 3;
}

.contact-info-item .key {
    padding-right: 21px;
    padding-top: 5px;
    vertical-align: top;
    display: inline-block;
    width: 20%;
}

.contact-info-item .value {
    display: inline-block;
    width: 70%;
}

.contact-info-item i, .contact-info-item h4 {
    font-size: 1.3rem;
}

.contact-info-item i {
    background-color: #49c5b6;
    color: #fff;
    height: 40px;
    width: 40px;
    border-radius: 25px;
    text-align: center;
    line-height: 40px;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #70c8df;
}

.footer-headings {
    font-weight: 600;
    color: #fff;
}

.footer-divider hr {
    border-top-color: rgba(255, 255, 255, 0.5);
}

@media (min-width: 450px) {
    .destination-card img {
        height: 15rem;
    }
}

@media (min-width: 576px) {
    #holidays img {
        height: 10rem;
    }
}

@media (min-width: 768px) {
    #holidays img, 
    .destination-card img {
        height: 12rem;
    }
}

@media (min-width: 992px) {
    .nav-item {
        padding: 0 0.5rem;
        margin: 0;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 1.5rem 0;
    }

    .navbar-nav .border-bottom {
        border-bottom: 0 !important;
    }

    .guests {
        max-width: 100%;
    }

    #holidays img,
    .destination-card img {
        height: 10rem;
    }
}

@media (min-width: 1200px) {
    #popular-destinations img {
        height: 12rem;
    }
    
}
