/* Font imports start. Code is from https://fonts.google.com/ */

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

/* Font imports end */

/* Body and Section Start. Code for height styling is from https://stackoverflow.com/questions/39527808/make-content-min-height-fill-the-screen */

body {
    font-family: 'PT Sans', sans-serif;
}

section {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 105px);
}

/* Body and Section End */

/* Text Start */

strong {
    font-weight: bold;
}

.section-heading {
    font-weight: bold;
    color: #006994;
}

.section-subheading {
    font-weight: bold;
    color: #70c8df;
}

.error-heading {
    letter-spacing: 2px;
}

.table th {
    font-weight: bold;
}

.text-black {
    color: #000;
}

.text-primary {
    color: #70c8df !important;
}

.text-secondary {
    color: #d13574 !important;
}

/* Text End */

/* Backgrounds Start */

.bg-primary {
    background-color: #006994 !important;
}

.bg-secondary {
    background-color: #d13574 !important;
}

.bg-toast {
    background-color: #70c8df;
}

/* Backgrounds End */

/* Links Start */

a {
    color: #006994;
    outline: none;
}

a:hover {
    color: #70c8df;
}

/* Links End */

/* Buttons Start */

.btn-primary {
    background-color: #70c8df;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-newsletter:hover,
.btn-newsletter:focus {
   background-color: #9ad8e8;
}

.btn-secondary {
    background-color: #d13574;
    font-weight: 600;
    letter-spacing: 1px;
}

.btn-secondary:hover,
.btn-secondary:focus {
    background-color: #da5f91;
}

.btn-newsletter {
    position: inherit !important;
    background-color: #70c8df;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-grey {
    background: #c8c8c8;
}

.btn-holidays {
    width: 160px;
}

.top-btn {
    width: 50px;
    height: 50px;
    font-size: 30px;
    background: #fff;
    border: 2px solid #006994;
    color: #006994;
    text-align: center;
    border-radius: 50%;
    z-index: 5;
    position: fixed;
    right: 20px;
    bottom: 70px;
}

.top-btn:hover {
    transform: scale(1.2);
}

.back-btn i {
    position: absolute;
    z-index: 1;
    width: 40px;
    height: 40px;
    padding: 10px 0;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    color: #fafafa;
    background: #70c8df;
}

/* Buttons End */

/* Border Start */

.border-primary {
    border-color: #70c8df !important;
}

/* Border End */

/* Pagination Start */

.pagination .page-link {
    width: 100% !important;
}

.pagination .active .page-link {
    background-color: #d13574;
}

/* Pagination End */

/* Navbar Start */

.navbar i {
    color: #006994;
}

.navbar {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus
  {
    color: #006994;
}

.navbar-toggler i {
    color: #006994;
}

.navbar-toggler {
    width: 46px;
}

.banner {
    font-size: 1rem;
}

/* Color codes are from https://www.slowdown.travel/ */

.nav-links a {
    color: #006994 !important;
    outline: none;
    font-weight: bold;
}

.nav-links a:hover,
.nav-links a:focus,
.nav-links a:active {
    color: #70c8df !important;
    font-weight: bold;
}

.nav-item {
    padding: 0.5rem 0;
    margin: 0 1rem;
}

.user-options-dropdown {
    margin-top: 1.625rem;
    right: calc(-1rem + 2px);
}

/* Navbar End */

/* Toasts Start */

.message-container .position-fixed {
    z-index: 5;
}

/* Toasts End */

/* Hero Images Start */

.hero-image {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 66vh;
    background-size: cover;
    background-position: center center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero-image .row {
    z-index: 1;
}

.jumbotron .display-1 {
    font-weight: bold;
    font-family: 'Nothing You Could Do', sans-serif;
}

.jumbotron .display-2 {
    font-weight: bold;
    font-family: 'Nothing You Could Do', sans-serif;
}

.jumbotron h3 {
    margin: 30px 0 50px 0;
}

.hero-image-top {
    background-position: center top;
}

.queensland {
    background-position: 50% 25%;
}

.south-australia,
.paria-da-luz {
    background-position: 50% 40%;
}

.toronto,
.western-australia,
.paris {
    background-position: 50% 60%;
}

.singapore,
.victoria,
.northern-territory,
.new-south-wales,
.feithiye,
.madrid {
    background-position: 50% 70%;
}

.hero-image-80 {
    background-position: 50% 90%;
}

.lefkas {
    background-position: 50% 90%;
}

.new-york,
.tasmania,
.lanzarote,
.santorini,
.albufeira {
    background-position: center bottom;
}

/* Hero Images End */

/* Carousel and Slider Start. Code is from https://kenwheeler.github.io/slick/ */

#hero-image-carousel .slick-slide {
    display: flex;
    height: calc(100vh - 100px);
}

#hero-image-carousel .slick-prev {
    left: 25px;
}

#hero-image-carousel .slick-next {
    right: 25px;
}

#hero-image-carousel .slick-prev,
#hero-image-carousel .slick-next {
    position: absolute;
    top: 50%;
    padding: 0;
    width: 40px;
    height: 40px;
    font-size: 24px;
    line-height: 24px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    transform: translate(0, -50%);
    cursor: pointer;
    z-index: 1;
}

#popular-holidays .slick-slide,
#related-holidays .slick-slide {
    margin: 1.5rem 1rem;
}

#popular-holidays .slick-list,
#related-holidays .slick-list {
    margin: -1.5rem -1rem;
}

.slick-dots {
    position: absolute;
    bottom: 10px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #fff;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

/* Carousel and Slider Start End */ 

/* Form Start */

.form-label {
    text-transform: capitalize;
}

.form-label .asteriskField {
    display: none;
}

.form-control,
.form-select {
    border: 1px solid #a9a9a9;
    color: #4a4a4a;
    min-height: 44px;
}

.form-control:focus,
.form-select:focus {
    border: 1px solid #a9a9a9;
    box-shadow: none;
}

.form-control::placeholder,
select:invalid,
select option[value=""] {
    color: #a9a9a9;
}

.invalid-feedback {
    position: inherit;
    margin-bottom: 0.5rem;
}

.newsletter-signup .form-control:focus {
    box-shadow: none;
    border: none !important;
}

/* Hides number input arrow butttons in guest and quantity fields. Code is from https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
input[name="guests"]::-webkit-inner-spin-button,
input[name="quantity"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}

.form-switch .form-check-input[type=checkbox]:checked {
    background-color: #70c8df;
}

.form-switch .form-check-input:checked[type=checkbox]:after {
    background-color: #fff;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
  
.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}
  
.delete-check .form-check-input {
    border-color: #dc3545;
}
  
.delete-check .form-check-input:checked {
    background-color: #dc3545;
    border-color: #dc3545;
}

/* Form End */

/* Rating Stars Start */

.fa-star, .fa-star-half-alt {
    color: gold;
}

.holiday-card i {
    margin-right: 2px;
}

#reviews i {
    margin-right: 5px;
}

.rating-stars .btn {
    font-size: 1.33rem;
}

/* Rating Stars End */

/* Features Start */

.features p {
    line-height: 30px;
}

.features h3 {
    margin-bottom: 10px;
}

.features i {
    margin-bottom: 40px;
}

/* Features End */

/* Holiday Cards Start. Code for image hover effects is from https://codepen.io/kanishkkunal/pen/emdxLm */

.holiday-card {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    height: 100%;
    outline: none;
}

.holiday-card img {
    border-radius: 10px 10px 0 0;
    transition: ease 0.5s;
    object-fit: cover;
    height: 12rem;
}

.holiday-card img:hover, 
.holiday-card img:active {
    transform: scale(1.2);
}

.holiday-card .badge {
    position: absolute;
    top: 20px;
    left: 20px;
    width: auto;
    color: #fff;
    font-size: 16px;
    border: 2px solid #d13574;
    border-radius: 25px;
}

.holiday-card .card-body {
    background-color: #fff;
    z-index: 1;
}

.holiday-card a {
    color: #000;
}

.holiday-card a:hover {
    color: #d13574;
}

.holiday-card .small {
    color: #7A838B;
}

/* Destination Cards End */


/* Holiday Details Page Start */

.nav-tabs .nav-link {
    font-weight: bold;
    border-bottom-width: 4px;
}

.nav-tabs .nav-link.active {
    border-color: #d13574;
    color: #d13574;
}

.nav-tabs .nav-link:hover {
    background-color: transparent;
    border-color: #d13574;
    color: #d13574;
}

.holiday-features i {
    width: 30px;
    color: #4f4f4f;
}

.list-group-item {
    color: #4a4a4a;
}

.booking-form h2 {
    font-size: 1.5rem;
}

.booking-heading {
    font-weight: bold;
}

.itinerary-item:after {
    content: '';
    display: block;
    position: absolute;
    width: 2px;
    background-color: #70c8df;
    top: 0;
    left: 15px;
    height: 100%;
}

.itinerary-item:first-of-type::after {
    top: 20px;
}

.itinerary-item:last-of-type:after {
    height: 20px; 
}

.itinerary-item:before {
    height: 30px;
    width: 30px;
    margin-left: 15px;
    display: block;
    position: absolute;
    left: -14px;
    top: -3px;
    border: 2px solid #70c8df;
    border-radius: 50%;
    content: '';
    background-color: #fff;
    z-index: 1;
}

/* Holiday Details Page End */

/* Guests and Quantity Inputs Start */

#guests:focus {
    border: 1px solid #a9a9a9;
}

.guests button {
    width: 30%;
}

.plus, .minus {
    background-color: #c8c8c8 !important;
}

.input-group .form-control {
    height: auto;
    min-height: auto;
}
.input-group .form-control-guests, 
.input-group .form-control-quantity {
    height: 35px;
    min-height: 35px;
    flex: none;
    min-width: 35px;
}

.btn-group-vertical {
    border: 1px solid #bdbdbd;
    height: 35px;
    min-height: 35px;
}

/* Guests and Quantity Inputs End */

/* Checkout Success End */

.flight-line {
    border-top: 2px solid #4f4f4f;
    position: relative;
    width: 100%;
}

.flight-line .circle-start {
    border-radius: 50%;
    background-color: #4f4f4f;
    width: 10px;
    height: 10px;
    position: absolute;
    left: -2px;
    top: -6px;
}

.flight-line .circle-end {
    border-radius: 50%;
    background-color: #4f4f4f;
    width: 10px;
    height: 10px;
    position: absolute;
    right: -2px;
    top: -6px;
}

.flight-line .plane {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 0 5px;
}

/* Checkout Success Start */

/* Extras Start */

.extra-card img {
    object-fit: cover;
}

/* Extras End */

/* Contact Start */

.contact-info-item .key {
    padding-right: 21px;
    padding-top: 5px;
    vertical-align: top;
    display: inline-block;
    width: 70px;
}

.contact-info-item .value {
    display: inline-block;
}

.contact-info-item i, .contact-info-item h4 {
    font-size: 1.3rem;
}

.contact-info-item i {
    background-color: #70c8df;
    color: #fff;
    height: 40px;
    width: 40px;
    border-radius: 25px;
    text-align: center;
    line-height: 40px;
}

/* Contact End */

/* Flights Table Start */

#flights-table tr td:first-of-type {
    min-width: 135px;
}

#flights-table tr td:last-of-type {
    min-width: 145px;
}

#flights-table a {
    width: 48%
}

/* Flights Table End */

/* Footer Start */

footer a {
    color: #fff;
}

.footer-2 {
    margin-top: 32px;
}

.footer-headings {
    font-weight: 600;
    color: #fff;
}

.btn-newsletter i {
    color: #fff;
}

footer .small {
    font-size: 0.8rem;
    color: #fff;
}

/* Footer End */

/* Media Queries Start */

@media (min-width: 450px) {
    .holiday-card img {
        height: 18rem;
    }
}

@media (min-width: 576px) {
    #popular-holidays img,
    .holiday-card img {
        height: 10rem;
    }
}

@media (min-width: 768px) {
    #popular-holidays img,
    .holiday-card img {
        height: 12rem;
    }
    #flights-table tr td:last-of-type {
        min-width: 0;
    }
}

@media (min-width: 992px) {
    .nav-item {
        padding: 0 0.5rem;
        margin: 0;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 1.5rem 0;
    }

    .navbar-nav .border-bottom {
        border-bottom: 0 !important;
    }

    .navbar-nav .dropdown-menu {
        margin-top: 2px;
    }

    #popular-holidays img,
    .holiday-card img {
        height: 12rem;
    }
}

@media (min-width: 1200px) {
    .holiday-card img {
        height: 10rem;
    }
    #popular-holidays img {
        height: 15rem;
    }
}

/* Media Queries End */