{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="container p-4">
  <div class="row">
    <div class="col-12 mb-4">
      <h1 class="section-heading text-center mb-0">Extras</h1>
    </div>
    <div class="col-12">
      {% for extra in extras %}
      {% if not forloop.counter|divisibleby:2 == False %}
      <div class="card shadow-none mb-3">
        <div class="row g-0">
          <div class="col-3">
            <img class="img-fluid" src="{{extra.image.url}}" alt="Image of {{extra.name}}">
          </div>
          <div class="col-9">
            <div class="card-body py-0">
              <h5 class="card-title section-subheading">{{extra.name}}</h5>
              <p class="card-text">{{ extra.description }}</p>
              {% if request.user.is_superuser %}
              <small class="ml-3">
                <a class="edit-extra" href="#" data-id="{{extra.id}}">Edit</a> |
                <a class="text-danger" href="{% url 'delete_extra' extra.id %}">Delete</a>
              </small>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% else %}
      <div class="card shadow-none mb-3">
        <div class="row g-0">
          <div class="col-9">
            <div class="card-body py-0">
              <h5 class="card-title section-subheading">{{extra.name}}</h5>
              <p class="card-text">{{ extra.description }}</p>
              {% if request.user.is_superuser %}
              <small class="ml-3">
                <a class="edit-extra" href="#" data-id="{{extra.id}}">Edit</a> |
                <a class="text-danger" href="{% url 'delete_extra' extra.id %}">Delete</a>
              </small>
              {% endif %}
            </div>
          </div>
          <div class="col-3">
            <img class="img-fluid" src="{{extra.image.url}}" alt="Image of {{extra.name}}">
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  {% if request.user.is_superuser %}
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-extra">
    <i class="far fa-plus-square"></i>
  </button>
  <!-- Add Extra Modal -->
  <div class="modal fade" id="add-extra" tabindex="-1" aria-label="Add extra" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Extra</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{% url 'add_extra' %}" method="POST" enctype="multipart/form-data">
          <div class="modal-body">
            {% csrf_token %}
            {{ form.name | as_crispy_field }}
            {{ form.image }}
            {{ form.price | as_crispy_field }}
            {{ form.description | as_crispy_field }}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add extra</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endif %}
</section>
{% endblock %}
{% if request.user.is_superuser %}
{% block postloadjs %}
<script>
  $('#new-image').change(function () {
    var file = $('#new-image')[0].files[0];
    $('#filename').text(`Image will be set to: ${file.name}`);
    $('#filename').addClass('mt-3');
  });
  $('.edit-extra').click(function () {
    var id = $(this).data('id');
    $.get(`/extras/edit/${id}/`).done(function (response) {
      $(response).insertAfter('#add-extra');
      $('#edit-extra').modal('show');
    })
  })
  $('.container').on('hidden.bs.modal', '#edit-extra', function () {
    $('#edit-extra').remove()
  })
</script>
{% endblock %}
{% endif %}