{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="container p-4">
  <div class="row">
    <div class="col-12 mb-4">
      <h1 class="section-heading text-center mb-0">Extras</h1>
    </div>
    <div class="col-12 col-lg-10 mx-auto">
      {% for extra in extras %}
      <div class="card extra-card shadow-none">
        <div class="card-body">
          <div class="row g-0 text-center text-md-start">
            <div class="col-12 d-md-none mb-3">
              <img class="rounded-circle" src="{{ extra.image.url }}" alt="Image of {{ extra.name }}" height="150" width="150">
            </div>
            <div class="col-12 d-md-flex align-items-center">
              {% if not forloop.counter|divisibleby:2 %}
              <div class="flex-shrink-0 d-none d-md-block pe-3">
                <img class="rounded-circle" src="{{ extra.image.url }}" alt="Image of {{ extra.name }}" height="150" width="150">
              </div>
              {% endif %}
              <div class="flex-grow-1 me-3">
                <h4 class="section-subheading">{{ extra.name }}</h4>
                <p class="mb-2">{{ extra.description }}</p>
                <p class="lead font-weight-bold mb-0">£{{ extra.price|floatformat:"-2" }}</p>
                {% if request.user.is_superuser %}
                <p class="small mt-2 mb-0">
                  <a class="text-primary small pe-2" href="{% url 'edit_extra' extra.id %}"><i class="fas fa-edit"></i></a> | 
                  <a class="text-secondary small ps-2" href="{% url 'delete_extra' extra.id %}"><i class="fas fa-trash"></i></a>
                </p>
                {% endif %}
              </div>
              {% if forloop.counter|divisibleby:2 %}
              <div class="flex-shrink-0 d-none d-md-block pe-3">
                <img class="rounded-circle" src="{{ extra.image.url }}" alt="Image of {{ extra.name }}" height="150" width="150">
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% if forloop.counter != extras|length %}
      <hr>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}