<!-- Extends base template and loads static files -->
{% extends "base.html" %}
{% load static %}

<!-- Title block -->
{% block title %} - Extras{% endblock%}

<!-- Content block start -->
{% block content %}
<!-- Container start -->
<section class="container p-4">
  <div class="row">
    <!-- Heading start -->
    <div class="col-12 mb-4">
      <h1 class="section-heading text-center mb-0">Extras</h1>
    </div>
    <!-- Heading end -->
    <!-- Extras column -->
    <div class="col-12 col-lg-10 mx-auto">
      <!-- Extras cards start. Code is from https://getbootstrap.com/docs/5.0/utilities/flex/#media-object -->
      {% for extra in extras %}
      <div class="card extra-card shadow-none">
        <div class="card-body">
          <div class="row g-0 text-center text-md-start">
            <div class="col-12 d-md-none mb-3">
              <img class="rounded-circle" src="{{ extra.image.url }}" alt="Image of {{ extra.name }}" height="150" width="150">
            </div>
            <div class="col-12 d-md-flex align-items-center">
              {% if not forloop.counter|divisibleby:2 %}
              <div class="flex-shrink-0 d-none d-md-block pe-3">
                <img class="rounded-circle" src="{{ extra.image.url }}" alt="Image of {{ extra.name }}" height="150" width="150">
              </div>
              {% endif %}
              <div class="flex-grow-1 me-3">
                <h4 class="section-subheading">{{ extra.name }}</h4>
                <p class="mb-2">{{ extra.description }}</p>
                <!-- Code for floatformat filter is from https://docs.djangoproject.com/en/3.2/ref/templates/builtins/#floatformat -->
                <p class="lead font-weight-bold mb-0">£{{ extra.price|floatformat:"-2" }}</p>
                {% if request.user.is_superuser %}
                <p class="small mt-2 mb-0">
                  <a class="text-primary small pe-2" href="{% url 'edit_extra' extra.slug %}">
                    <i class="fas fa-edit" aria-label="edit"></i>
                  </a> | 
                  <a class="text-secondary small ps-2" href="{% url 'delete_extra' extra.slug %}">
                    <i class="fas fa-trash" aria-label="delete"></i>
                  </a>
                </p>
                {% endif %}
              </div>
              {% if forloop.counter|divisibleby:2 %}
              <div class="flex-shrink-0 d-none d-md-block pe-3">
                <img class="rounded-circle" src="{{ extra.image.url }}" alt="Image of {{ extra.name }}" height="150" width="150">
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% if forloop.counter != extras|length %}
      <hr>
      {% endif %}
      {% endfor %}
      <!-- Extras cards end -->
    </div>
    <!-- Extras column end -->
  </div>
</section>
<!-- Container end -->
{% endblock %}
<!-- Content block end -->