{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid p-4">
    <div class="row no-gutters">
        <div class="col-12 text-center">
            <h2 class="section-heading mb-3">Add Holiday</h2>
        </div>
        <div class="col-12 col-lg-8 mx-auto mb-3">
            <form action="{% url 'add_holiday' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset id="package">
                    {{ form.name | as_crispy_field }}
                    {{ form.image }}
                    {{ form.description | as_crispy_field }}
                    {{ form.category | as_crispy_field }}
                    {{ form.country | as_crispy_field }}
                    {{ form.duration | as_crispy_field }}
                    {{ form.rating | as_crispy_field }}
                    {{ form.catering | as_crispy_field }}
                    {{ form.features | as_crispy_field }}
                    {{ form.activities | as_crispy_field }}
                    {{ form.extras | as_crispy_field }}
                    {{ form.flights | as_crispy_field }}
                    {{ form.transfers_included | as_crispy_field }}
                </fieldset>
                <fieldset id="prices" class="d-none">
                    <div>
                        {{price_formset.management_form}}
                    </div>
                    {% for form in price_formset %}
                    <div class="price">
                        <legend>Price 1</legend>
                        {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                        {% endfor %}
                        {{form.price | as_crispy_field }}
                        {{form.start_date | as_crispy_field }}
                        {{form.end_date | as_crispy_field }}
                        {{form.offer | as_crispy_field }}
                        {{form.DELETE | as_crispy_field }}
                    </div>
                    {% endfor %}
                </fieldset>
                <fieldset id="itineraries" class="d-none">
                    <div>
                        {{itinerary_formset.management_form}}
                    </div>
                    {% for form in itinerary_formset %}
                    <div class="itinerary">
                        <legend>Itinerary 1</legend>
                        {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                        {% endfor %}
                        {{form.day | as_crispy_field }}
                        {{form.title | as_crispy_field }}
                        {{form.description | as_crispy_field }}
                        {{form.DELETE | as_crispy_field }}
                    </div>
                    {% endfor %}
                </fieldset>
                {% if request.META.HTTP_REFERER %}
                <input type="hidden" name="redirect_url" value="{{ request.META.HTTP_REFERER }}" />
                {% endif %}
                <div class="my-3 text-center">
                    <button id="back" class="btn btn-primary mx-2 d-none" type="button">Back</button>
                    <button id="next" class="btn btn-primary mx-2" type="button">Next</button>
                    <button class="btn btn-primary mx-2 d-none" type="submit">Add Holiday</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block postloadjs %}
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script src="{% static 'js/add_holiday.js' %}"></script>
<script type="text/javascript">
    $('.price').formset({
        addText: '<i class="fas fa-plus pe-2"></i>add another',
        prefix: '{{ price_formset.prefix }}',
        formCssClass: 'price',
        added: addedPrice,
    });
    $('.itinerary').formset({
        addText: '<i class="fas fa-plus pe-2"></i>add another',
        prefix: '{{ itinerary_formset.prefix }}',
        formCssClass: 'itinerary',
        added: addedItinerary,
    })
</script>
{% endblock %}