{% extends "base.html" %}
{% block content %}
<div class="container-fluid hero-image {% if destination.name == 'Europe' %}hero-image-bottom {% endif %}p-0" style="background-image: url('{{ destination.image.url }}')">
    <div class="overlay">&nbsp;</div>
    <div class="row no-gutters">
        <div class="col-12">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4 text-center">{{ destination.page_title }}</h1>
                    <div class="block-divider my-3 mx-auto"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row no-gutters">
        <div class="col-10 col-md-12 mx-auto my-3">
            <div class="row no-gutters">
                <div class="col-12 col-md-4 col-lg-3 order-0 order-md-1 mt-3">
                    {% csrf_token %}
                    <select id="sort-selector" class="form-select shadow-none">
                        <option value="featured">
                            Featured</option>
                        <option value="price_asc">Price (Low -
                            High)</option>
                        <option value="price_desc">Price (High
                            - Low)</option>
                        <option value="rating_desc">Rating
                        </option>
                    </select>
                </div>
                <div id="category-filters" class="col-12 col-md-8 col-lg-9 order-1 order-md-0 mt-3">
                    {% for category in categories %}
                    <a class="text-decoration-none mx-1" href="javascript:void(0)">
                        {% if category in current_categories %}
                        <span class="badge bg-primary border p-2 mt-2">
                        {% else %}
                        <span class="badge bg-light text-dark border p-2 mt-2">{% endif %}{{ category }}</span>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-10 offset-1 col-sm-12 offset-sm-0 mb-3">
            <div id="holidays" class="row">
                {% include 'holidays/includes/holidays.html' %}
            </div>
        </div>
    </div>
    {% if holidays.paginator.num_pages > 1%}
    <div class="row">
        <div class="col-12 mb-3">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  {% if holidays.has_previous %}
                  <li class="page-item">
                  {% else %}
                  <li class="page-item disabled">
                  {% endif %}  
                    <a class="page-link" href="javascript:void(0)" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  {% if holidays.has_previous %}
                  <li class="page-item"><a class="page-link" href="javascript:void(0)">{{ holidays.previous_page_number }}</a></li>
                  {% endif %}
                  <li class="page-item active"><a class="page-link" href="javascript:void(0)">{{ holidays.number }}</a></li>
                  {% if holidays.has_next %}
                  <li class="page-item"><a class="page-link" href="javascript:void(0)">{{ holidays.next_page_number }}</a></li>
                  <li class="page-item">
                  {% else %}
                  <li class="page-item disabled">
                  {% endif %} 
                    <a class="page-link" href="javascript:void(0)" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
{% block postloadjs %}
{% load static %}
<script src="{% static 'js/holidays.js' %}"></script>
{% endblock %}