{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid p-4">
    <div class="row no-gutters">
        <div class="col-12 text-center">
            <h2 class="section-heading mb-3">Edit Holiday</h2>
        </div>
        <div class="col-12 col-lg-8 mx-auto mb-3">
            <form action="{% url 'edit_holiday' holiday.slug %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset id="package">
                    {{ form.name | as_crispy_field }}
                    {{ form.image }}
                    {{ form.description | as_crispy_field }}
                    {{ form.price | as_crispy_field }}
                    {{ form.category | as_crispy_field }}
                    {{ form.country | as_crispy_field }}
                    {{ form.region | as_crispy_field }}
                    {{ form.offer | as_crispy_field}}
                    {{ form.duration | as_crispy_field }}
                    {{ form.rating | as_crispy_field }}
                    {{ form.accomodation | as_crispy_field }}
                    {{ form.catering | as_crispy_field }}
                    {{ form.extras | as_crispy_field }}
                    {{ form.flights | as_crispy_field }}
                    {{ form.transfers_included | as_crispy_field }}
                </fieldset>
                <fieldset id="features" class="d-none">
                    <div>
                    {{ feature_formset.management_form}}
                    </div>
                    {% for form in feature_formset %}
                    <div class="feature">
                        <legend>Feature 1</legend>
                        {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                        {% endfor %}
                        {{form.name | as_crispy_field }}
                        {{form.DELETE | as_crispy_field }}
                    </div>
                    {% endfor %}
                </fieldset>
                <fieldset id="activities" class="d-none">
                    <div>
                        {{ activity_formset.management_form }}
                    </div>
                    {% for form in activity_formset %}
                    <div class="activity">
                        <legend>Activity {{ forloop.counter }}</legend>
                        {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                        {% endfor %}
                        {{ form.name | as_crispy_field }}
                        {{ form.description | as_crispy_field }}
                        {{ form.DELETE | as_crispy_field }}
                    </div>
                    {% endfor %}
                </fieldset>
                <fieldset id="itineraries" class="d-none">
                    <div>
                        {{ itinerary_formset.management_form }}
                    </div>
                    {% for form in itinerary_formset %}
                    <div class="itinerary">
                        <legend>Itinerary {{ forloop.counter }}</legend>
                        {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                        {% endfor %}
                        {{ form.day | as_crispy_field }}
                        {{ form.name | as_crispy_field }}
                        {{ form.description | as_crispy_field }}
                        {{ form.DELETE | as_crispy_field }}
                    </div>
                    {% endfor %}
                </fieldset>
                {% if request.META.HTTP_REFERER %}
                <input type="hidden" name="redirect_url" value="{{ request.META.HTTP_REFERER }}" />
                {% endif %}
                <div class="my-3 text-center">
                    <button id="back" class="btn btn-primary mx-2 d-none" type="button">Back</button>
                    <button id="next" class="btn btn-primary mx-2" type="button">Next</button>
                    <button class="btn btn-primary mx-2 d-none" type="submit">Update Holiday</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block postloadjs %}
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script src="{% static 'js/edit_holiday.js' %}"></script>
<script type="text/javascript">
     $('.feature').formset({
        addText: '<i class="fas fa-plus pe-2"></i>add another',
        prefix: '{{ feature_formset.prefix }}',
        formCssClass: 'feature',
        added: addedFeature,
    });
    $('.activity').formset({
        addText: '<i class="fas fa-plus pe-2"></i>add another',
        prefix: '{{ activity_formset.prefix }}',
        formCssClass: 'activity',
        added: addedActivity,
    });
    $('.itinerary').formset({
        addText: '<i class="fas fa-plus pe-2"></i>add another',
        prefix: '{{ itinerary_formset.prefix }}',
        formCssClass: 'itinerary',
        added: addedItinerary,
    })
</script>
{% endblock %}