<!-- Extends base template and loads static files -->
{% extends "base.html" %}
{% load static %}

<!-- Extra js block start -->
{% block extra_js %}
<!-- Import jquery.formset.js. Code is from https://cdnjs.com/libraries/jquery.formset -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.formset/1.2.2/jquery.formset.min.js"
    integrity="sha512-ltwjKsDTo3hW/wV66ZaEkf2wOAFxmg7rWM76J8kOcYKLSKy44WBYO/BFaNNH3NGDS8BSz3meB9wtSnm41oL+pA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}
<!-- Extra js block start -->

<!-- Content block start -->
{% block content %}
<!-- Container start -->
<section class="container-fluid p-4">
    <div class="row g-0">
        <!-- Heading start -->
        <div class="col-12 text-center">
            <h1 class="section-heading mb-4">Edit Holiday</h1>
        </div>
        <!-- Heading end -->
        <!-- Form start. Code for holiday slug is from https://stackoverflow.com/questions/5002182/how-can-i-access-the-model-instance-used-by-a-form-from-a-template -->
        <div class="col-12 col-md-10 col-lg-8 mx-auto">
            <form action="{% url 'edit_holiday' form.instance.slug %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- Package fieldset start -->
                <fieldset id="package">
                    {% for field in form %}
                    {% if field.name == 'image' %}
                    {{ field }}
                    {% else %}
                    {{ field | as_crispy_field}}
                    {% endif %}
                    {% endfor %}
                </fieldset>
                <!-- Package fieldset end -->
                <!-- Features fieldset start. Code is from https://docs.djangoproject.com/en/3.2/topics/forms/formsets/  -->
                <fieldset id="features" class="d-none">
                    <div>
                        {{ feature_formset.management_form}}
                    </div>
                    {% for form in feature_formset %}
                    <div class="feature">
                        <legend class="section-subheading">Feature {{ forloop.counter }}</legend>
                        {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                        {% endfor %}
                        {{form.name | as_crispy_field }}
                        {{form.DELETE | as_crispy_field }}
                    </div>
                    {% endfor %}
                </fieldset>
                <!-- Features fieldset end -->
                <!-- Activities fieldset start. Code is from https://docs.djangoproject.com/en/3.2/topics/forms/formsets/  -->
                <fieldset id="activities" class="d-none">
                    <div>
                        {{ activity_formset.management_form }}
                    </div>
                    {% for form in activity_formset %}
                    <div class="activity">
                        <legend class="section-subheading text-grey">Activity {{ forloop.counter }}</legend>
                        {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                        {% endfor %}
                        {{ form.name | as_crispy_field }}
                        {{ form.description | as_crispy_field }}
                        {{ form.DELETE | as_crispy_field }}
                    </div>
                    {% endfor %}
                </fieldset>
                <!-- Activities fieldset end -->
                <!-- Itineraries fieldset start. Code is from https://docs.djangoproject.com/en/3.2/topics/forms/formsets/ -->
                <fieldset id="itineraries" class="d-none">
                    <div>
                        {{ itinerary_formset.management_form }}
                    </div>
                    {% for form in itinerary_formset %}
                    <div class="itinerary">
                        <legend class="section-subheading">Itinerary {{ forloop.counter }}</legend>
                        {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                        {% endfor %}
                        {{ form.day | as_crispy_field }}
                        {{ form.name | as_crispy_field }}
                        {{ form.description | as_crispy_field }}
                        {{ form.DELETE | as_crispy_field }}
                    </div>
                    {% endfor %}
                </fieldset>
                <!-- Itineraries fieldset end -->
                <!-- Buttons start -->
                <div class="text-center mt-3 mb-2">
                    <button id="back" class="btn btn-primary btn-holidays mx-2 d-none" type="button">
                        <i class="fas fa-chevron-left me-2" aria-hidden="true"></i>
                        <span>Back</span>
                    </button>
                    <button id="next" class="btn btn-primary btn-holidays mx-2" type="button">
                        <span>Next</span>
                        <i class="fas fa-chevron-right ms-2" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-primary btn-holidays mx-2 d-none" type="submit">
                        <span>Update Holiday</span>
                        <i class="fas fa-chevron-right ms-2" aria-hidden="true"></i>
                    </button>
                </div>
                <!-- Buttons end -->
                <!-- Redirect URL hidden field. Code is from https://stackoverflow.com/questions/27325505/django-getting-previous-url -->
                {% if request.META.HTTP_REFERER %}
                    <input type="hidden" name="redirect_url" value="{{ request.META.HTTP_REFERER }}" />
                {% endif %}
            </form>
        </div>
        <!-- Form end -->
    </div>
</section>
<!-- Container end -->
{% endblock %}
<!-- Content block end -->

<!-- Postloadjs block start -->
{% block postloadjs %}
{{ block.super }}
<!-- Import holiday_form.js script -->
<script src="{% static 'js/holiday_form.js' %}"></script>
<script type="text/javascript">
    /* Configures jQuery formset to add rows to the activity formset.
    Code is from https://github.com/nortigo/jquery-formset */
    $('.activity').formset({
        addText: '<i class="fas fa-plus pe-2"></i>add another',
        prefix: '{{ activity_formset.prefix }}',
        formCssClass: 'activity',
        added: editActivity,
    });
    /* Configures jQuery formset to add rows to the itinerary formset.
    Code is from https://github.com/nortigo/jquery-formset */
    $('.itinerary').formset({
        addText: '<i class="fas fa-plus pe-2"></i>add another',
        prefix: '{{ itinerary_formset.prefix }}',
        formCssClass: 'itinerary',
        added: editItinerary,
    })
</script>
{% endblock %}
<!-- Postloadjs block end -->