{% extends "base.html" %}
{% load static %}

<!--Datepicker stylesheet and script are from https://gijgo.com/datepicker/-->

{% block extra_css %}
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block extra_js %}
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div class="container-fluid hero-image {{ holiday.slug }} p-0" style="background-image: url('{{ holiday.image.url }}')">
    <div class="overlay">&nbsp;</div>
    <div class="row no-gutters">
        <div class="col-12">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-2 text-center text-white">{{ holiday.name }}</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container p-4">
    <div class="row no-gutters">
        <div class="col-12 col-lg-8 col-xl-9">
            <ul class="nav nav-tabs border-bottom" id="myTab" role="tablist">
                <li class="nav-item m-0 py-0 ps-0" role="presentation">
                    <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#overview" role="tab"
                        aria-controls="overview" aria-selected="true">Overview</a>
                </li>
                {% if holiday.itineraries.all %}
                <li class="nav-item py-0" role="presentation">
                    <a class="nav-link" id="itinerary-tab" data-bs-toggle="tab" href="#itinerary" role="tab"
                        aria-controls="itinerary" aria-selected="false">Itinerary</a>
                </li>
                {% endif %}
                {% if holiday.activities.all %}
                <li class="nav-item py-0" role="presentation">
                    <a class="nav-link" id="activities-tab" data-bs-toggle="tab" href="#activities" role="tab"
                        aria-controls="activities" aria-selected="false">Activities</a>
                </li>
                {% endif %}
                {% if holiday.reviews.all %}
                <li class="nav-item py-0" role="presentation">
                    <a class="nav-link" id="reviews-tab" data-bs-toggle="tab" href="#reviews" role="tab"
                        aria-controls="reviews" aria-selected="false">Reviews</a>
                </li>
                {% endif %}
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active pt-4" id="overview" role="tabpanel"
                    aria-labelledby="overview-tab">
                    <div class="row g-0">
                        <div class="col-12 col-sm-6 pb-4 pb-sm-0">
                            <ul class="list-group holiday-features">
                                <li class="list-group-item p-0 mb-3 border-0">
                                    <i class="fas fa-tag"></i>£{{ holiday.price|floatformat:"-2" }}
                                </li>
                                <li class="list-group-item p-0 mb-3 border-0">
                                    <i class="far fa-calendar-alt"></i>{{ holiday.duration }} Nights
                                </li>
                                <li class="list-group-item p-0 mb-3 border-0">
                                    <i class="fas fa-star"></i>{{ holiday.rating }}
                                </li>
                                <li class="list-group-item p-0 mb-3 border-0">
                                    <i class="fas fa-utensils"></i>{{ holiday.catering }}
                                </li>
                                <li class="list-group-item p-0 border-0">
                                    <i class="fas fa-bus"></i>Transfers {% if holiday.transfers_included %}
                                    included{% else %}not included{% endif %}
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 col-sm-6">
                            <ul class="list-group holiday-features">
                                {% for feature in holiday.features.all %}
                                {% if forloop.counter == holiday.features.all|length %}
                                <li class="list-group-item p-0 border-0">
                                    <i class="fas fa-check"></i>{{ feature }}
                                </li>
                                {% else %}
                                <li class="list-group-item p-0 mb-3 border-0">
                                    <i class="fas fa-check"></i>{{ feature }}
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-12 mt-4">
                            <p class="mb-0">{{ holiday.description }}</p>
                        </div>
                    </div>
                </div>
                {% if holiday.itineraries.all %}
                <div class="tab-pane fade py-4" id="itinerary" role="tabpanel" aria-labelledby="itinerary-tab">
                    {% for itinerary in holiday.itineraries.all %}
                    <div class="card itinerary-item shadow-none">
                        <div class="card-body ps-5">
                            <h5 class="card-title"><strong>{{ itinerary.day }} - {{ itinerary.name }}</strong></h5>
                            <p class="card-text">{{ itinerary.description }}</p>
                        </div>
                        </div>
                    {% endfor %}
                </div>
                {% endif %}
                {% if holiday.activities.all %}
                <div class="tab-pane fade pt-4" id="activities" role="tabpanel" aria-labelledby="activities-tab">
                    {% for activity in holiday.activities.all %}
                    <h5><strong>{{ activity.name }}</strong></h5>
                    <p class="{% if forloop.counter == holiday.activities.all|length %}mb-0{% else%}mb-3{%endif %}">{{ activity.description }}</p>
                    {% endfor %}
                </div>
                {% endif %}
                {% if holiday.reviews.all %}
                <div class="tab-pane fade pt-4" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                    {% for review in holiday.reviews.all %}
                    <div class="{% if forloop.counter == holiday.reviews.all|length %}mb-0{% else %}mb-4{% endif %}">
                        <h5><strong>{{ review.title }}</strong></h5>
                        <p class="rating mb-2">{{ review.rating }}</p>
                        <p class="mb-2">{{ review.review }}</p>
                        <small>Reviewed by {{ review.full_name }} on {{ review.date|date }}</small>
                    </div>
                    {% endfor %}
                    {% if not_reviewed %}
                    <a href="{% url 'review' holiday.slug %}" class="btn btn-primary mt-4">
                        Write Review
                    </a>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col col-lg-4 col-xl-3 mt-4 mt-lg-0">
            <div class="booking-form border border-2 border-primary p-4">
                <h2 class="text-center text-uppercase section-subheading mb-3">Trip Booking</h2>
                <form action="{% url 'add_booking' holiday.id %}" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="departure_date" class="form-label">Departure Date</label>
                        <input type="text" class="form-control" id="departure_date" name="departure_date" required>
                    </div>
                    <div id="departure-airport-container" class="position-relative mb-3">
                        <label for="departure_airport" class="form-label">Departure Airport</label>
                        <input type="text" class="form-control" id="departure_airport" name="departure_airport" required autocomplete="off">
                        <div id="airports-list" class="position-absolute shadow w-100 d-none"></div>
                    </div>
                    <label for="guests" class="form-label">Guests</label>
                    <div class="input-group guests me-auto">
                        <button class="input-group-text minus btn shadow-none border py-0" type="button"><i
                                class="fas fa-minus"></i></button>
                        <input type="number" class="form-control text-center" id="guests" name="guests" min="1" max="10"
                            value="1" required>
                        <button class="input-group-text plus btn shadow-none border py-0" type="button"><i
                                class="fas fa-plus"></i></button>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary mt-4" type="submit">Book Trip</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="bg-light">
    <div class="container p-4">
    <div class="row no-gutters">
        <div class="col-12">
            <h2 class="text-uppercase section-heading booking-form">related holidays</h2>
        </div>
        {% include 'holidays/includes/holiday_cards.html' %}
    </div>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script src="{% static 'js/ratings.js' %}"></script>
<script>
    let airports
    let today = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());

    $(document).ready(function () {
        $('#departure_date').removeClass('gj-textbox-md')
        $.get('{% url "airports" holiday.id %}').done(function(data) {
            airports = data.airports
        })
    })

    $("#departure_date").keydown(function(e){
        e.preventDefault();
    });

    $('#airports-list').on('mousedown', 'li', function() {
        $('#departure_airport').val($(this).text())
    })

    function validateAirport () {
        if ($('#departure_airport').val()) {
            $('#airports-list').toggleClass('d-none')
        }
        if (!airports.includes($('#departure_airport').val())) {
            $('#departure_airport').val('')
        }
    }

    $('#departure_airport').on('blur', function() {
        validateAirport()
    })   
    
    $('#departure-airport-container').on('mouseleave', function() {
        validateAirport()
    })  

    $('#departure_airport').on('input click', function() {
        let search = $(this).val()
        let matches = airports.filter(function (airport) {
            let regex = new RegExp(`^${search}`, 'gi')
            return airport.match(regex)  
        })
        if (matches.length === 0) {
            $('#airports-list').html('<ul class="list-group"><li class="list-group-item border-0 small">No search results</li></ul>').removeClass('d-none')
        } else if (search.length === 0) {
            matches = []
            $('#airports-list').html('').addClass('d-none')
        } else {
            let html = matches.map(function (match) {
                // Code for substring method is from https://www.w3schools.com/jsref/jsref_substr.asp
                let innerHtml = `<li class="list-group-item border-0 small"><strong>${match.substr(0, search.length)}</strong>`
                innerHtml += `${match.substr(search.length, match.length)}</li>`
                return innerHtml
            }).join('')
            html = `<ul class="list-group shadow rounded-0">${html}</ul>`
            $('#airports-list').html(html).removeClass('d-none')
        } 
    })

    $('#departure_date').datepicker({
        footer: true,
        modal: true,
        minDate: today,
        showRightIcon: false,
        format: 'dd/mm/yyyy'
    });

    $('.plus').click(function () {
        let currentValue = parseInt($(this).prev().val())
        if (currentValue < 10) {
            $(this).prev().val(currentValue + 1);
        }
    });

    $('.minus').click(function () {
        let currentValue = parseInt($(this).next().val())
        if (currentValue > 1) {
            $(this).next().val(currentValue - 1);
        }
    });
</script>
{% endblock %}