{% extends "base.html" %}
{% load static %}

<!--Datepicker stylesheet and script are from https://gijgo.com/datepicker/-->

{% block extra_css %}
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
{% endblock %}

{% block extra_js %}
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
{% endblock %}

{% block content %}
<div class="container-fluid hero-image {{ holiday.slug }} p-0" style="background-image: url('{{ holiday.image.url }}')">
    <div class="overlay">&nbsp;</div>
    <div class="row no-gutters">
        <div class="col-12">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-2 text-center text-white">{{ holiday.name }}</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container p-4">
    <div class="row no-gutters">
        <div class="col-12 col-lg-8 col-xl-9">
            <ul class="nav nav-tabs border-bottom d-none d-sm-flex" role="tablist">
                <li class="nav-item m-0 py-0 ps-0" role="presentation">
                    <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#overview" role="tab"
                        aria-controls="overview" aria-selected="true">Overview</a>
                </li>
                {% if holiday.itineraries.all %}
                <li class="nav-item py-0" role="presentation">
                    <a class="nav-link" id="itineraries-tab" data-bs-toggle="tab" href="#itineraries" role="tab"
                        aria-controls="itineraries" aria-selected="false">Itinerary</a>
                </li>
                {% endif %}
                {% if holiday.activities.all %}
                <li class="nav-item py-0" role="presentation">
                    <a class="nav-link" id="activities-tab" data-bs-toggle="tab" href="#activities" role="tab"
                        aria-controls="activities" aria-selected="false">Activities</a>
                </li>
                {% endif %}
                {% if holiday.reviews.all %}
                <li class="nav-item py-0" role="presentation">
                    <a class="nav-link" id="reviews-tab" data-bs-toggle="tab" href="#reviews" role="tab"
                        aria-controls="reviews" aria-selected="false">Reviews</a>
                </li>
                {% endif %}
            </ul>
            <div class="border-bottom pb-4 d-sm-none" role="presentation">
                <div class="row g-0">
                    <div class="dropdown col-10 mx-auto">
                        <button class="btn btn-secondary w-100 dropdown-toggle" type="button" id="tabs-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            overview
                        </button>
                        <ul class="dropdown-menu text-center w-100" aria-labelledby="tabs-dropdown">
                            <li><button class="dropdown-item text-capitalize" type="button">overview</button></li>
                            {% if holiday.itineraries.all %}
                            <li><button class="dropdown-item text-capitalize" type="button">itineraries</button></li>
                            {% endif %}
                            {% if holiday.activities.all %}
                            <li><button class="dropdown-item text-capitalize" type="button">activities</button></li>
                            {% endif %}
                            {% if holiday.reviews.all %}
                            <li><button class="dropdown-item text-capitalize" type="button">reviews</button></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade show active pt-4" id="overview" role="tabpanel"
                    aria-labelledby="overview-tab">
                    <div class="row g-0">
                        <div class="col-12 col-sm-6 pb-4 pb-sm-0">
                            <ul class="list-group holiday-features">
                                <li class="list-group-item p-0 mb-3 border-0">
                                    <i class="fas fa-tag"></i>£{{ holiday.price|floatformat:"-2" }}
                                </li>
                                <li class="list-group-item p-0 mb-3 border-0">
                                    <i class="far fa-calendar-alt"></i>{{ holiday.duration }} Nights
                                </li>
                                <li class="list-group-item p-0 mb-3 border-0">
                                    <i class="fas fa-star"></i>{{ holiday.rating }}
                                </li>
                                <li class="list-group-item p-0 mb-3 border-0">
                                    <i class="fas fa-utensils"></i>{{ holiday.catering }}
                                </li>
                                <li class="list-group-item p-0 border-0">
                                    <i class="fas fa-bus"></i>Transfers {% if holiday.transfers_included %}
                                    included{% else %}not included{% endif %}
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 col-sm-6">
                            <ul class="list-group holiday-features">
                                {% for feature in holiday.features.all %}
                                <li class="list-group-item p-0 {% if not forloop.counter == holiday.features.all|length %}mb-3{% endif %} border-0">
                                    <i class="fas fa-check"></i>{{ feature }}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-12 mt-4">
                            <p class="mb-0">{{ holiday.description }}</p>
                            {% if request.user.is_superuser %}
                            <p class="mt-3">
                                <a class="text-primary small pe-2" href="{% url 'edit_holiday' holiday.slug %}"><i
                                        class="fas fa-edit"></i></a> |
                                <a class="text-secondary small ps-2" href="{% url 'delete_holiday' holiday.slug %}"><i
                                        class="fas fa-trash"></i></a>
                            </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if holiday.itineraries.all %}
                <div class="tab-pane fade pt-4" id="itineraries" role="tabpanel" aria-labelledby="itineraries-tab">
                    {% for itinerary in holiday.itineraries.all %}
                    <div class="card itinerary-item shadow-none">
                        <div class="card-body ps-5 py-0{% if not forloop.counter == holiday.itineraries.all|length %} mb-3 {% endif %}">
                            <h5 class="card-title"><strong>{{ itinerary.day }} - {{ itinerary.name }}</strong></h5>
                            <p class="card-text">{{ itinerary.description }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                {% if holiday.activities.all %}
                <div class="tab-pane fade pt-4" id="activities" role="tabpanel" aria-labelledby="activities-tab">
                    {% for activity in holiday.activities.all %}
                    <h5><strong>{{ activity.name }}</strong></h5>
                    <p class="{% if forloop.counter == holiday.activities.all|length %}mb-0{% else%}mb-3{%endif %}">
                        {{ activity.description }}</p>
                    {% endfor %}
                </div>
                {% endif %}
                {% if holiday.reviews.all %}
                <div class="tab-pane fade pt-4" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                    {% for review in holiday.reviews.all|slice:":5" %}
                    <div class="{% if forloop.counter == holiday.reviews.all|length %}mb-0{% else %}mb-4{% endif %}">
                        <h5><strong>{{ review.title }}</strong></h5>
                        <p class="rating mb-2">{{ review.rating }}</p>
                        <p class="mb-2">{{ review.review }}</p>
                        <small>Reviewed by {{ review.full_name }} on {{ review.date|date }}</small>
                    </div>
                    {% endfor %}
                    {% if can_review %}
                    <a href="{% url 'review' holiday.slug %}" class="btn btn-primary mt-4">
                        Write Review
                    </a>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col col-lg-4 col-xl-3 mt-4 mt-lg-0">
            <div class="booking-form border border-2 border-primary p-4">
                <h2 class="text-center text-uppercase section-subheading mb-3">Trip Booking</h2>
                <form action="{% url 'add_booking' holiday.id %}" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="departure_date" class="form-label">Departure Date</label>
                        <input type="text" class="form-control" id="departure_date" name="departure_date" required>
                    </div>
                    <div id="departure-airport-container" class="position-relative mb-3">
                        <label for="departure_airport" class="form-label">Departure Airport</label>
                        <input type="text" class="form-control" id="departure_airport" name="departure_airport" required
                            autocomplete="off">
                        <div id="airports-list" class="position-absolute shadow w-100 d-none"></div>
                    </div>
                    <label for="guests" class="form-label">Guests</label>
                    <div class="input-group guests me-auto">
                        <button class="input-group-text minus btn shadow-none border py-0" type="button"><i
                                class="fas fa-minus"></i></button>
                        <input type="number" class="form-control text-center" id="guests" name="guests" min="1" max="10"
                            value="1" required>
                        <button class="input-group-text plus btn shadow-none border py-0" type="button"><i
                                class="fas fa-plus"></i></button>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary mt-4" type="submit">Book Trip</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="bg-light">
    <div class="container p-4">
        <div class="row g-0">
            <div class="col-12 col-md-8 col-xl-12">
                <h2 class="text-uppercase section-heading">related holidays</h2>
            </div>
            <div class="col-12 col-md-4 d-xl-none">
                <div id="arrows" class="col-12 text-md-end">
                </div>
            </div>
        </div>
        <div id="related-holidays" class="my-3">
            {% for holiday in related_holidays %}
            <div class="card destination-card shadow-0 border d-flex">
                <img class="card-img-top" src="{{holiday.image.url}}" alt="Card image cap">
                <span class="badge bg-secondary">£{{holiday.price|floatformat:"-2"}}</span>
                <div class="card-body">
                    {% if category %}
                    <a href="{% url 'category_details' category.slug holiday.slug %}">
                    {% elif destination %}
                    <a href="{% url 'destination_details' destination.slug holiday.slug %}">
                    {% else %}
                    <a href="{% url 'offer_details' holiday.slug %}">
                    {% endif %}
                        <h5 class="card-title mb-1">{{holiday.name}}</h5>
                    </a>
                    <p class="small mb-1">{{holiday.country}}</p>
                    <div class="d-flex justify-content-between">
                        <p class="small mb-0">
                            <span class="rating">{{holiday.rating}}</span>
                        </p>
                        <p class="small mb-0">
                            <i class="far fa-clock"></i>
                            <span>{{holiday.duration}} Nights</span>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script src="{% static 'js/ratings.js' %}"></script>
<script>
    let airports
    $(document).ready(function () {
        $.get('{% url "airports" holiday.id %}').done(function (data) {
            airports = data.airports
        })
    })
</script>
<script src="{% static 'js/holiday_details.js' %}"></script>
{% endblock %}