<!-- Extends base template and loads static files -->
{% extends "base.html" %}
{% load static %}

<!-- Title block -->
{% block title %} - {% if category %}{{ category.page_title }}{% elif destination %}{{ destination.page_title }}{% else %}Offers{% endif %}{% endblock%}

<!-- Content block start -->
{% block content %}
<!-- Container start -->
<section class="container-fluid g-0">
    <!-- Category hero image start -->
    {% if category %}
    <div class="container-fluid hero-image {% if category.name == 'City Breaks' %}hero-image-80 {% endif %}{% if category.name == 'Beach' %}hero-image-top{% endif %} p-0"
        style="background-image: url('{{ category.image.url }}')">
        <div class="overlay">&nbsp;</div>
        <div class="row no-gutters">
            <div class="col-12 jumbotron">
                <div class="container">
                    <h1 class="display-2 text-center text-white">{{ category.page_title }}</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- Category hero image end -->
    <!-- Destination hero image start -->
    {% elif destination %}
    <div class="container-fluid hero-image {% if destination.name == 'Europe' %}hero-image-80 {% endif %}p-0"
        style="background-image: url('{{ destination.image.url }}')">
        <div class="overlay">&nbsp;</div>
        <div class="row no-gutters">
            <div class="col-12 jumbotron">
                <div class="container">
                    <h1 class="display-2 text-center text-white">{{ destination.page_title }}</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- Destination hero image end -->
    <!-- Offers hero image start -->
    {% else %}
    <div class="container-fluid hero-image p-0" style="background-image: url('{{ MEDIA_URL }}offers.jpg')">
        <div class="overlay">&nbsp;</div>
        <div class="row no-gutters">
            <div class="col-12 jumbotron">
                <div class="container">
                    <h1 class="display-2 text-center text-white">Offers</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- Offers hero image end -->
    {% endif %}
    <!-- Main content container start -->
    <div class="container p-4 pb-3">
        <!-- Filters and sort selector row start -->
        <div class="row g-0">
            <div class="col-12 mx-auto mb-2">
                <div class="row g-0">
                    <!-- Countries filters start. Code is from https://getbootstrap.com/docs/5.0/components/badge/ -->
                    {% if countries %}
                    <div id="country-filters" class="col-12 col-md-8 col-lg-9 mb-3 mb-md-0">
                        {% for country in countries %}
                        <a class="text-decoration-none mx-1" href="javascript:void(0)">
                            {% if country|lower in current_countries %}
                            <span class="badge bg-primary border p-2 my-1">{{ country }}</span>
                            {% else %}
                            <span class="badge bg-light text-black border p-2 my-1">{{ country }}</span>
                            {% endif %}
                        </a>
                        {% endfor %}
                    </div>
                    <!-- Countries filters end -->
                    <!-- Categories filters start. Code is from https://getbootstrap.com/docs/5.0/components/badge/ -->
                    {% else %}
                    <div id="category-filters" class="col-12 col-md-8 col-lg-9 mb-3 mb-md-0">
                        {% for category in categories %}
                        <a class="text-decoration-none mx-1" href="javascript:void(0)">
                            {% if category|lower in current_categories %}
                            <span class="badge bg-primary border p-2 my-1">{{ category }}</span>
                            {% else %}
                            <span class="badge bg-light text-black border p-2 my-1">{{ category }}</span>
                            {% endif %}
                        </a>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <!-- Categories filters end -->
                    <!-- Sort selector end -->
                    <div class="col-12 col-md-4 col-lg-3">
                        <select id="sort-selector" class="form-select shadow-none">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by:</option>
                            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (Low - High)</option>
                            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (High - Low)</option>
                            <option value="duration_asc" {% if current_sorting == 'duration_asc' %}selected{% endif %}>Duration (Low - High)</option>
                            <option value="duration_desc" {% if current_sorting == 'duration_desc' %}selected{% endif %}>Duration (High - Low)</option>
                            <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating</option>
                        </select>
                    </div>
                    <!-- Sort selector end -->
                </div>
            </div>
        </div>
        <!-- Filters and sort selector row end -->
        <!-- Holidays cards row start -->
        <div id="holidays" class="row g-0">
            {% include 'holidays/includes/holiday_cards.html' %}
        </div>
        <!-- Holidays cards row end -->
    </div>
    <!-- Main content container end -->
</section>
<!-- Container end -->
{% endblock %}
<!-- Content block end -->

<!-- Postloadjs block start -->
{% block postloadjs %}
{{ block.super }}
<!-- Import ratings.js script -->
<script src="{% static 'js/ratings.js' %}"></script>
<!-- Import holidays.js script -->
<script src="{% static 'js/holidays.js' %}"></script>
{% endblock %}
<!-- Postloadjs block end -->