<!-- Extends base template and loads static files -->
{% extends "base.html" %}
{% load static %}

<!-- Title block -->
{% block title %} - Write Review{% endblock%}

<!-- Content block start -->
{% block content %}
<!-- Container start -->
<section class="container-fluid p-4">
    <div class="row g-0">
        <!-- Heading start -->
        <div class="col-12 text-center">
            <h1 class="section-heading mb-3">Write Review</h1>
        </div>
        <!-- Heading end -->
        <!-- Form start -->
        <div class="col-12 col-md-10 col-lg-8 mx-auto">
            <form action="{% url 'review' holiday.slug %}" method="POST">
                {% csrf_token %}
                <!-- Rating stars start -->
                <p class="form-label mb-2">Rating</p>
                <div class="rating-stars mb-3">
                    <button class="btn shadow-none p-0 me-1" type="button" data-rating="1" aria-label="1 star">
                        <i class="far fa-star fa-lg" aria-hidden="true"></i>
                    </button>
                    <button class="btn shadow-none p-0 me-1" type="button" data-rating="2" aria-label="2 stars">
                        <i class="far fa-star fa-lg" aria-hidden="true"></i>
                    </button>
                    <button class="btn shadow-none p-0 me-1" type="button" data-rating="3" aria-label="3 stars">
                        <i class="far fa-star fa-lg" aria-hidden="true"></i>
                    </button>
                    <button class="btn shadow-none p-0 me-1" type="button" data-rating="4" aria-label="4 stars">
                        <i class="far fa-star fa-lg" aria-hidden="true"></i>
                    </button>
                    <button class="btn shadow-none p-0 me-1" type="button" data-rating="5" aria-label="5 stars">
                        <i class="far fa-star fa-lg" aria-hidden="true"></i>
                    </button>
                </div>
                <!-- Rating stars end -->
                {{ form.rating | as_crispy_field }}
                {{ form.title | as_crispy_field }}
                {{ form.review | as_crispy_field }}
                <!-- Code for redirect URL is from https://stackoverflow.com/questions/27325505/django-getting-previous-url -->
                {% if request.META.HTTP_REFERER %}
                <input type="hidden" name="redirect_url" value="{{ request.META.HTTP_REFERER }}" />
                {% endif %}
                <div class="mt-4 text-center">
                    <button class="btn btn-primary" type="submit">Add Review</button>
                </div>
            </form>
            <!-- Form end -->
        </div>
    </div>
</section>
<!-- Container end -->
{% endblock %}
<!-- Content block end -->

<!-- Postloadjs block start -->
{% block postloadjs %}
{{ block.super }}
<script>
    // Hides the rating field when the DOM has finished loading
    let rating = $('input[name="rating"]').val();
    $(document).ready(function() {
        $('#div_id_rating').addClass('d-none');
    });

    /* Changes the colour of the stars so all stars up to and including the current star are gold
    when the user hovers over a star. Code for the prevAll and nextAll JQuery methods is from 
    https://api.jquery.com/prevAll/#prevAll-selector and https://api.jquery.com/nextAll/#nextAll-selector */
    $('.rating-stars .btn').mouseenter(function () {
        $(this).prevAll().find('i').addClass('fas').removeClass('far');
        $(this).find('i').addClass('fas').removeClass('far');
        $(this).nextAll().find('i').addClass('far').removeClass('fas');
    });

    // Updates the rating hidden input and the rating variable values when a star button is clicked
    $('.rating-stars .btn').click(function () {
        $('input[name="rating"]').val($(this).data('rating'));
        rating = $('input[name="rating"]').val();
    })

    /* Changes the colour of the stars so the number of stars equal to the rating are gold.
    Code for the slice jQuery method is from https://api.jquery.com/slice/
    */
    $('.rating-stars').mouseleave(function () {
        if (rating) {
            $(this).find('i').slice(0, parseInt(rating)).addClass('fas').removeClass('far');
            $(this).find('i').slice(parseInt(rating), 5).addClass('far').removeClass('fas');
        } else {
            $(this).find('i').addClass('far').removeClass('fas');
        }
    });
</script>
{% endblock %}
<!-- Postloadjs block end -->