
<!-- Extends account base template -->
{% extends "account/base.html" %}

{% load i18n %}

<!-- Head title block -->
{% block head_title %}{% trans "Sign Out" %}{% endblock %}

<!-- Inner content block start -->
{% block inner_content %}
<!-- Logout container start -->
<div class="container p-4">
  <div class="row g-0">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto">
      <h1 class="section-heading text-center mb-4">{% trans "Sign Out" %}</h1>
 
      <p class="mb-3">{% trans 'Are you sure you want to sign out?' %}</p>

      <form class="account" method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-primary mt-2" type="submit">{% trans 'Sign Out' %}</button>
      </form>
    </div>
  </div>
</div>
<!-- Logout content end -->
{% endblock %}
<!-- Inner content block end -->