<!-- Extends account base template -->
{% extends "account/base.html" %}

{% load i18n %}

<!-- Head title block -->
{% block head_title %}{% trans "Change Password" %}{% endblock %}

<!-- Inner content block start -->
{% block inner_content %}
<!-- Password change container start -->
<div class="container p-4">
    <div class="row g-0">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto">
            <h1 class="section-heading text-center mb-4">{% trans "Change Password" %}</h1>

            <form method="POST" action="{% url 'account_change_password' %}" class="account password_change">
                {% csrf_token %}
                {{ form | crispy }}
                <button class="btn btn-primary mt-2" type="submit" name="action">{% trans "Change Password" %}</button>
                <a class="float-end mt-2" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </form>
        </div>
    </div>
</div>
<!-- Password change content end -->
{% endblock %}
<!-- Inner content block end -->
