<!-- Extends account base template -->
{% extends "account/base.html" %}

{% load i18n %}

<!-- Head title block -->
{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

<!-- Inner content block start -->
{% block inner_content %}
<!-- Signup closed content start -->
<div class="container p-4">
    <div class="row g-0">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 mx-auto">
            <h1 class="section-heading text-center mb-4">{% trans "Sign Up Closed" %}</h1>
            <p class="mb-0">{% trans "We are sorry, but the sign up is currently closed." %}</p>
        </div>
    </div>
<!-- Signup closed content end -->
{% endblock %}
<!-- Inner content block end -->
