{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}
<h2 class="section-heading text-center mb-4">{% trans "Sign Up" %}</h2>

<form class="account signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.first_name | as_crispy_field }}
  {{ form.last_name | as_crispy_field }}
  {{ form.email | as_crispy_field }}
  {{ form.password1 | as_crispy_field }}
  {{ form.password2 | as_crispy_field }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-primary mt-2 mb-3" type="submit">{% trans "Sign Up" %}</button>
</form>

<p>{% blocktrans %}Already have an account? <a href="{{ login_url }}"><strong>Sign in</strong></a>.{% endblocktrans %}</p>

{% endblock %}
