<!-- Table column start -->
<div class="col-12 table-responsive">
    <!-- Table start. Code is from https://getbootstrap.com/docs/5.0/content/tables/ -->
    <table class="table table-hover align-middle mb-4">
        <thead class="table-info">
            <tr>
                <th scope="col">Flight Number</th>
                <th scope="col">Origin</th>
                <th scope="col">Destination</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for flight in flights %}
            <tr>
                <td>{{ flight.flight_number }}</td>
                <td>{{ flight.origin }}</td>
                <td>{{ flight.destination }}</td>
                <td>
                    <a href="{% url 'edit_flight' flight.flight_number %}" class="text-start" aria-label="edit">
                        <i class="fas fa-edit text-primary" aria-hidden="true"></i>
                    </a>
                    <a href="{% url 'delete_flight' flight.flight_number %}" class="text-start" aria-label="delete">
                        <i class="fas fa-trash text-secondary" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!--Table end-->
</div>
<!-- Table column end -->
<!-- Pagination start. Code is from https://docs.djangoproject.com/en/3.2/topics/pagination/ and https://getbootstrap.com/docs/5.0/components/pagination/ -->
{% if flights.paginator.num_pages > 1 %}
<div class="col-12">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center mb-0">
            <li class="page-item{% if not flights.has_previous %} disabled{% endif %}">
                <a class="page-link" href="javascript:void(0)" data-page="1" aria-label="First">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% if flights.has_previous %}
            <li class="page-item">
                <a class="page-link" href="javascript:void(0)" data-page="{{ flights.previous_page_number }}">
                    {{ flights.previous_page_number }}</a>
            </li>
            {% endif %}
            <li class="page-item active">
                <a class="page-link" href="javascript:void(0)" data-page="{{ flights.number }}">
                    {{ flights.number }}</a>
            </li>
            {% if flights.has_next %}
            <li class="page-item">
                <a class="page-link" href="javascript:void(0)" data-page="{{ flights.next_page_number }}">
                    {{ flights.next_page_number }}</a>
            </li>
            {% endif %}
            <li class="page-item{% if not flights.has_next %} disabled{% endif %}">
                <a class="page-link" href="javascript:void(0)" data-page="{{ flights.paginator.num_pages }}" aria-label="Last">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<!-- Pagination end -->
{% endif %}