<!-- Holiday cards column start -->
<div class="col-12">
    <div class="row">
        <!-- Holiday cards start. Code is from https://getbootstrap.com/docs/5.0/components/card/ and https://getbootstrap.com/docs/5.0/components/badge/ -->
        {% for holiday in holidays %}
        <div class="col-sm-6 col-lg-4 col-xl-3 py-3">
            <div id="holidays" class="card holiday-card">
                <img class="card-img-top" src="{{ holiday.image.url }}" alt="Image of {{ holiday.name }}">
                <!-- Code for floatformat filter is from https://docs.djangoproject.com/en/3.2/ref/templates/builtins/#floatformat -->
                <span class="badge bg-secondary">£{{ holiday.price|floatformat:"-2" }}</span>
                <div class="card-body">
                    {% if category %}
                    <a href="{% url 'category_details' category.slug holiday.slug %}">
                    {% elif destination %}
                    <a href="{% url 'destination_details' destination.slug holiday.slug %}">
                    {% else %}
                    <a href="{% url 'offer_details' holiday.slug %}">
                    {% endif %}
                        <h5 class="card-title mb-1">{{ holiday.name }}</h5>
                    </a>
                    <p class="small mb-1">{{ holiday.country }}</p>
                    <div class="d-flex justify-content-between">
                        <p class="small mb-0">
                            <span class="rating">{{ holiday.rating }}</span>
                        </p>
                        <p class="small mb-0">
                            <i class="far fa-clock" aria-label="clock"></i>
                            <span>{{ holiday.duration }} Nights</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- Holiday cards end -->
    </div>
</div>
<!-- Holiday cards column end -->
<!-- Pagination start. Code is from https://docs.djangoproject.com/en/3.2/topics/pagination/ and https://getbootstrap.com/docs/5.0/components/pagination/ -->
{% if holidays.paginator.num_pages > 1 %}
<div class="col-12 my-3">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center mb-0">
            <li class="page-item{% if not holidays.has_previous %} disabled{% endif %}">
                <a class="page-link" href="javascript:void(0)" data-page="1" aria-label="First">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% if holidays.has_previous %}
            <li class="page-item">
                <a class="page-link" href="javascript:void(0)" data-page="{{ holidays.previous_page_number }}">
                    {{ holidays.previous_page_number }}</a>
            </li>
            {% endif %}
            <li class="page-item active">
                <a class="page-link" href="javascript:void(0)" data-page="{{ holidays.number }}">
                    {{ holidays.number }}</a>
            </li>
            {% if holidays.has_next %}
            <li class="page-item">
                <a class="page-link" href="javascript:void(0)" data-page="{{ holidays.next_page_number }}">
                    {{ holidays.next_page_number }}</a>
            </li>
            {% endif %}
            <li class="page-item{% if not holidays.has_next %} disabled{% endif %}">
                <a class="page-link" href="javascript:void(0)" data-page="{{ holidays.paginator.num_pages }}" aria-label="Last">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
{% endif %}
<!-- Pagination end -->