<div class="col-10 offset-1 col-sm-12 offset-sm-0 mb-4">
    <div class="row">
        {% for holiday in holidays %}
        <div class="col-sm-6 col-lg-4 col-xl-3 py-3">
            <div id="holidays" class="card destination-card">
                <img class="card-img-top" src="{{holiday.image.url}}" alt="Card image cap">
                <span class="badge bg-danger">£{{holiday.price|floatformat:"0"}}</span>
                <div class="card-body">
                    {% if category == 'offers' %}
                    <a href="{% url 'category_details' 'offers' holiday.slug %}">
                    {% elif category %}
                    <a href="{% url 'category_details' category.slug holiday.slug %}">
                    {% else %}
                    <a href="{% url 'destination_details' destination.slug holiday.slug %}">
                    {% endif %}
                        <h5 class="card-title mb-1">{{holiday.name}}</h5>
                    </a>
                    <p class="small mb-1">{{holiday.country}}</p>
                    <div class="d-flex justify-content-between">
                        <p class="d-block card-text small mb-2">
                            <span class="rating">{{holiday.rating}}</span> ({{ holiday.num_reviews }} reviews)</p>
                        <p class="d-block card-text small mb-2"><i class="far fa-clock pe-1"></i>{{holiday.duration}}
                        days</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% if holidays.paginator.num_pages > 1%}
<div class="col-12">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item{% if not holidays.has_previous %} disabled{% endif %}">
                <a class="page-link" href="javascript:void(0)" data-page="1" aria-label="First">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% if holidays.has_previous %}
            <li class="page-item">
                <a class="page-link" href="javascript:void(0)" data-page="{{ holidays.previous_page_number }}">
                    {{ holidays.previous_page_number }}</a>
            </li>
            {% endif %}
            <li class="page-item active">
                <a class="page-link" href="javascript:void(0)" data-page="{{ holidays.number }}">
                    {{ holidays.number }}</a>
            </li>
            {% if holidays.has_next %}
            <li class="page-item">
                <a class="page-link" href="javascript:void(0)" data-page="{{ holidays.next_page_number }}">
                    {{ holidays.next_page_number }}</a>
            </li>
            {% endif %}
            <li class="page-item{% if not holidays.has_next %} disabled{% endif %}">
                <a class="page-link" href="javascript:void(0)" data-page="{{ holidays.paginator.num_pages }}" aria-label="Last">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
{% endif %}