{% for holiday in holidays %}
<div class="col-sm-6 col-md-4 col-xl-3 py-3">
    <div class="card destination-card">
        <img class="card-img-top" src="{{holiday.image.url}}" alt="Card image cap">
        <span class="badge bg-danger">From £{{holiday.min_price}}</span>
        <div class="card-body">
            <h5 class="card-title">{{holiday.name}}</h5>
            <small class="d-block card-text rating mb-2">{{holiday.rating}}</small>
            <small class="d-block card-text mb-2"><i class="far fa-clock pe-1"></i>{{holiday.duration}}
                days</small>
        </div>
    </div>
</div>
{% endfor %}