{% extends "base.html" %}
{% load static %}
{% load tz %}

<!--Datepicker stylesheet and script are from https://gijgo.com/datepicker/-->

{% block extra_css %}
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block extra_js %}
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div class="container-fluid p-4">
    <div class="row g-0">
        <div class="col-12 text-center">
            <h2 class="section-heading mb-3">Edit Flight</h2>
        </div>
        <div class="col-12 col-md-10 col-lg-8 mx-auto">
            <form action="{% url 'edit_flight' form.instance.flight_number %}" method="POST">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name == 'arrival_time' and form.instance.direction == 'Outbound' %}
                        {% timezone form.instance.destination_time_zone %}
                            {{ field | as_crispy_field }}
                        {% endtimezone %}
                    {% elif field.name == 'departure_time' and form.instance.direction == 'Return' %}
                        {% timezone form.instance.origin_time_zone %}
                            {{ field | as_crispy_field }}
                        {% endtimezone %}
                    {% else %}
                        {{ field | as_crispy_field }}
                    {% endif %}
                {% endfor %}
                <div class="text-center mt-4">
                    <button class="btn btn-primary" type="submit">Update Flight</button>
                </div>
                {% if request.META.HTTP_REFERER %}
                    <input type="hidden" name="redirect_url" value="{{ request.META.HTTP_REFERER }}" />
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script src="{% static 'js/flights_form.js' %}"></script>
{% endblock %}