{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid p-4">
    <div class="row no-gutters">
        <div class="col-12 text-center">
            <h1 class="section-heading mb-3">Flights</h1>
        </div>
        <div class="col-12 col-lg-10 mx-auto">
            <div class="row g-0 mb-4">
                <div class="col-6 my-auto">
                    <a href="{% url 'add_flight' %}"><i class="fas fa-plus me-3"></i>Add
                        flight</a>
                </div>
                <div class="col-6 col-sm-4 col-lg-3 ms-auto ps-1">
                    <select id="flight-sort-selector" class="form-select shadow-none">
                        <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}{% if current_sorting == 'None_None' %}selected{% endif %}>Sort by:</option>
                        <option value="number_desc" {% if current_sorting == 'number_desc' %}selected{% endif %}>Flight Number (High - Low)</option>
                        <option value="origin_asc" {% if current_sorting == 'origin_asc' %}selected{% endif %}>Origin (A - Z)</option>
                        <option value="origin_desc" {% if current_sorting == 'origin_desc' %}selected{% endif %}>Origin (Z - A)</option>
                        <option value="destination_asc" {% if current_sorting == 'destination_asc' %}selected{% endif %}>Destination (A - Z)</option>
                        <option value="destination_desc" {% if current_sorting == 'destination_desc' %}selected{% endif %}>Destination (Z - A)</option>
                    </select>
                </div>
            </div>
            <div id="flights-table" class="g-0">
                {% include 'flights/includes/flights_table.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script>
    /* Sets the Page URL as the currentUrl variable and updates the sort, direction and page search perameters 
    when the value of the flight-sort-selector ID changes. An AJAX get request for the currentUrl is then submitted
    and the HTML inside the flights-table ID is replaced with the HTML returned. A new entry is added to the
    browser's session history to update the page URL. */
    $('#flight-sort-selector').change(function () {
        let sortSelector = $(this).val();
        let currentUrl = new URL(window.location);
        /* Code for replacing the URL pathname is from 
        https://stackoverflow.com/questions/61896535/how-to-change-js-url-object-pathname-and-protocol-properties */
        currentUrl.pathname = '/flights/filter/';
        currentUrl.searchParams.delete("page");
        if (sortSelector !== "reset") {
            let sort = sortSelector.split("_")[0];
            let direction = sortSelector.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);
            currentUrl.searchParams.delete("page");
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");
        }
        $.get(currentUrl).done(function (data) {
            $('#flights-table').html(data.flights);
            /* Code for replacing the URL pathname is from 
            https://stackoverflow.com/questions/61896535/how-to-change-js-url-object-pathname-and-protocol-properties */
            currentUrl.pathname = '/flights/';
            /*  Code for adding a new entry to the browser's session history is from
            https://developer.mozilla.org/en-US/docs/Web/API/History/pushState */
            window.history.pushState({}, '', currentUrl);
        });
    });

    /* Sets the Page URL as the currentUrl variable and updates page search perameters when a page link is
    clicked. An AJAX get request for the currentUrl is then submitted and the HTML inside the flights-table
    ID is replaced with the HTML returned. A new entry is added to the browser's session history to update
    the page URL. Code for the delegate target jQuery is from 
    https://api.jquery.com/event.delegateTarget/#event-delegateTarget1 */
    $('#flights-table').on('click', '.page-link', function () {
        let page = $(this).data('page');
        let currentUrl = new URL(window.location);
        /* Code for replacing the URL pathname is from 
        https://stackoverflow.com/questions/61896535/how-to-change-js-url-object-pathname-and-protocol-properties */
        currentUrl.pathname = '/flights/filter/';
        currentUrl.searchParams.set("page", page);
        $.get(currentUrl).done(function (data) {
            $('#flights-table').html(data.flights);
            /* Code for replacing the URL pathname is from 
            https://stackoverflow.com/questions/61896535/how-to-change-js-url-object-pathname-and-protocol-properties */
            currentUrl.pathname = '/flights/';
            /*  Code for adding a new entry to the browser's session history is from
            https://developer.mozilla.org/en-US/docs/Web/API/History/pushState */
            window.history.pushState({}, '', currentUrl);
        });
    });
</script>
{% endblock %}