<!-- Extends base template and loads static files -->
{% extends "base.html" %}
{% load static %}

<!-- Title block -->
{% block title %} - Flights{% endblock%}

<!-- Content block start -->
{% block content %}
<!-- Container start -->
<div class="container-fluid p-4">
    <div class="row no-gutters">
        <!-- Heading start -->
        <div class="col-12 text-center">
            <h1 class="section-heading mb-3">Flights</h1>
        </div>
        <!-- Heading end -->
        <!-- Main content column start -->
        <div class="col-12 col-lg-10 mx-auto">
            <div class="row g-0 mb-4">
                <!-- Add flight start -->
                <div class="col-6 my-auto">
                    <a href="{% url 'add_flight' %}">
                        <i class="fas fa-plus me-2" aria-label="plus"></i>
                        <span>Add flight</span>
                    </a>
                </div>
                <!-- Add flight end -->
                <!-- Sort selector start -->
                <div class="col-6 col-sm-4 col-lg-3 ms-auto ps-1">
                    <select id="flight-sort-selector" class="form-select shadow-none">
                        <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}{% if current_sorting == 'None_None' %}selected{% endif %}>Sort by:</option>
                        <option value="number_desc" {% if current_sorting == 'number_desc' %}selected{% endif %}>Flight Number (High - Low)</option>
                        <option value="origin_asc" {% if current_sorting == 'origin_asc' %}selected{% endif %}>Origin (A - Z)</option>
                        <option value="origin_desc" {% if current_sorting == 'origin_desc' %}selected{% endif %}>Origin (Z - A)</option>
                        <option value="destination_asc" {% if current_sorting == 'destination_asc' %}selected{% endif %}>Destination (A - Z)</option>
                        <option value="destination_desc" {% if current_sorting == 'destination_desc' %}selected{% endif %}>Destination (Z - A)</option>
                    </select>
                </div>
                <!-- Sort selector end -->
            </div>
            <!-- Flights table start -->
            <div id="flights-table" class="g-0">
                {% include 'flights/includes/flights_table.html' %}
            </div>
            <!-- Flights table end -->
        </div>
        <!-- Main content column end -->
    </div>
</div>
<!-- Container end -->
{% endblock %}
<!-- Content block end -->

<!-- Postloadjs block start -->
{% block postloadjs %}
{{ block.super }}
<!-- Import flights.js script -->
<script src="{% static 'js/flights.js' %}"></script>
{% endblock %}
<!-- Postloadjs block end -->